[2012-05-22 15:56] pgorczak opened #1 "frame_id in the imu message"
Hi!

I just tried to use your node with an MTx IMU with the robot_pose_ekf. The problem is, that the field frame_id is not written to in the imu message however the parameter is set up properly. Therefore the ekf throws warnings (seeing only an empty string in frame_id and assuming the IMU is not running yet).

By adding for example

[code]

after [line 113 in mtnode.py](https://github.com/ethz-as

[2012-05-22 16:02] #1 closed, assigned to nobody

[2012-08-16 14:11] damonkohler opened #2 "Diagnostics names should have a common prefix"
It's difficult to aggregate diagnostic messages from mtnode.py since the names do not contain a common prefix. For example:

[code]

[2012-08-16 14:31] #2 closed, assigned to fcolas

[2013-04-30 16:28] Flos opened #4 "MTI-300 could not find proper MT device."
I just got a MTI-300 which i would like to run with ROS. Im running Ubuntu 12.04 with kernel 3.5.027. I used this kernel https://github.com/xsens/xsens_mt module to have the MTI USB device shown up as ttyUSB0 device. The xsens examples are running fine.

But:

[code]

returns following:

[code]

In this post are the same issues mentioned
http://answers.ros.org/question/56635/xsens-error-comunicati

[2013-07-23 00:17] bhitov opened #5 "Syntax errors and silent timeouts in mtdevice.py"
I found some bugs in mtdevice when I tried to run it with my MTi. I fixed them here: https://github.com/bhitov/ethzasl_xsens_driver/commit/7660fffd0a749275d203f00e3a55023e87341a11#xsens_driver/nodes/mtdevice.py

[2013-07-23 07:56] fcolas opened #6 "Issue with MTx (repost from Charence)"
Hi fcolas,

Thanks for sharing this node, however, I too have encountered similar problems using the node.

I am running *ROS Fuerte* on *Ubuntu 12.04*, trying to connect to the *XSens MTx* system. The receivers are connected on /dev/ttyUSB0 and /dev/ttyUSB1.

I notice that the node fails in **'ReqConfiguration()'** when it tries to perform **'struct.unpack('!IHHHHI8s8s32x32xHIHHI8x', config)'** a

[2013-07-23 07:59] #4 closed, assigned to fcolas

[2013-07-23 08:00] fcolas opened #7 "Update ROS interface for mark 4 devices"

[2013-07-25 08:51] #5 closed, assigned to nobody

[2013-10-02 21:34] d235j opened #10 "Intermittent hang at runtime with MTi"
Due to the while loop at https://github.com/ethz-asl/ethzasl_xsens_driver/blob/master/xsens_driver/nodes/mtdevice.py#L58 , the software waits for incoming serial data to stop before writing any output. This causes a hang with the xsens MTi that I'm using.

Commenting out this while loop seems to resolve the problem for me, but perhaps this breaks something else?

[2013-11-01 12:58] katsumoto185 opened #11 "MTi-10 driver problem"
Hi,

I plugged mti10 my computer, ubuntu 12.04, ros groovy.  I run rosrun xsens_driver mtdevice.py.

firstly run output is :
invalid checksum; discarding data and waiting for next message.
MT error: Ack (0x31) expected, MID 0x32 received instead (after 10 tries).

secondly and others run output is:

akay@akay:~/Desktop/xsens_mt-pre3.5$ rosrun xsens_driver mtdevice.py
MT error 0x04: Invalid message

[2014-05-14 07:27] #10 closed, assigned to nobody

[2015-11-06 13:27] kingfolk opened #18 "mtdevice.py: IndexError: string index out of range"
Hi,
there is something wrong
i run the following command and got `IndexError: string index out of range`,

[code]

Full stack traceback:

[code]
I don't know what data is storing. `print data` returns something miss coded string, like

[code]
and the data is different every time.

also `roslaunch xsens_driver xsens_driver.launch` return the same thing.

Dev environment is Ubuntu 14.04 kernel 3.19.

[2015-11-06 13:42] fcolas commented on #18
I believe you're running an old version and that this issue was fixed by #13; can you try to update to the current master?

[2015-11-06 13:57] kingfolk commented on #18
cool! great work!
seems okay after i build from source!

[2015-11-06 14:00] fcolas commented on #18
Cool, thanks.

[2015-11-06 14:00] #18 closed

[2015-11-06 14:06] kingfolk commented on #18
ok. some other thing pop up.
[code]
returns `Configuring mode and settings MT error: timeout waiting for message.`

[2015-11-06 14:48] fcolas commented on #18
Well, there are sometimes some issues that I'd need to investigate: it seems that the IMU doesn't always give the expected acknowledgment but might still have received the message.

You can try to check that the device actually changed its configuration as you wanted:

    ./mt_device.py -i

Otherwise you can try to change the `verbose` flag line 10 to see what is going on.

[2015-11-06 15:23] kingfolk commented on #18
Thanks!

The imu i am using is a MTi 30. And i did not configure it but i don't know if somebody else has.
could you check the verbose input for me? great thanks!

[code]
it seems MT always write empty message.

[2015-11-09 14:55] fcolas commented on #18
Ok, thanks for trying out the verbose flag, but it'd be even better if you'd do it on the command that gives the error message (setting the configuration). ;)

As for 0 bytes messages, that's expected so nothing to worry about. There is one thing that is unexpected: you ask to not have timestamp but in the settings you still have a sample count. But the output is properly set to both calibrated an

[2015-11-09 15:35] kingfolk commented on #18
The output is for `rosrun xsens_driver mtdevice.py -i`. So it is okay to have very verbose information right?

I

[2015-11-09 15:45] fcolas commented on #18
Yes, I've seen that the verbose output was for the inspection mode `-i` but your problem is with the configuration `-c` just before.

[2015-11-09 15:55] kingfolk commented on #18
ok. Thanks!

is there anywhere i can debug about what is wrong with my setup?

[2015-11-09 15:58] fcolas commented on #18
Isn't it what we're trying to do here? ^ ^
Can you put `verbose = True` line 10 then run `rosrun xsens_driver mtdevice.py -c -p 576 -m co -s nqAGM` and paste the (verbose) output here?

[2015-11-09 16:02] kingfolk commented on #18
sure! here's output. i mean if there is some place in code i can set a breakpoint.
[code]

[2015-11-09 16:19] fcolas commented on #18
Well, that gives us some information already: we're normally able to exchange messages with the IMU but when changing the configuration we don't get the expected acknowledgement.
Now there are two questions: did the IMU take the change of configuration into account and, if so, why don't we get an acknowledgement.

To answer the first question, can you try to run (to see if the change happens even

[2015-11-09 16:26] kingfolk commented on #18
Thanks.. i am also altering that part of code but to the wrong direction...
[code]
seem the error is invalid message.

[2015-11-09 17:14] fcolas commented on #18
Oh, that's interesting.
First, we get further away, which is rather good news. Second, now the `output-settings` are properly set. Third, it doesn't like to be requested the size of the message (and that's unexpected).

But that part is actually not important at this stage. Are you able to `rosrun xsens_driver mtdevice.py -e`?
If so, then we may have an unexpected error but without practical conse

[2015-11-09 17:18] kingfolk commented on #18
Yes! i can run that command!
i get so many `{'Orientation Data': {'Yaw': 149.8646240234375, 'Roll': 0.04704917594790459, 'Pitch': -0.365906298160553}}  `. And if i rotate imu, the output changes.

[2015-11-09 17:22] fcolas commented on #18
Ok, that seems to work, then. I'll try see where the "invalid message" error comes from but you can safely ignore it in the configuration.

[2015-11-09 18:25] kingfolk commented on #18
cool, thanks! so is it now possible to get the xsens_dirver running and bypass this invalid message?

[2015-11-10 10:21] fcolas commented on #18
Well, as you can see, this message happens at the configuration command. But as the IMU stores its configuration, you don't need run this command every time. The ROS driver doesn't have this issue.

[2015-11-10 11:34] kingfolk commented on #18
Thanks. But sorry that i don't understand your words. could you give me more instructions?
`-e` just let me print out the imu data right? it did not change any configuration. So the old configuration still is there and xsens_dirver read that configuration. In fact, when i try `rostopic echo /imu/data`, there is no output.

[2015-11-10 11:40] fcolas commented on #18
Well, I don't like saying that, but I feel that if you read carefully the [documentation](http://wiki.ros.org/xsens_driver), you should be able to understand what I wrote, and especially the difference between the node and the configuration tool. It's probably useless to repeat what's already written so check it again, use the node, and ask a specific question if something is unclear.

[2015-11-10 12:12] kingfolk commented on #18
Thanks a lot.
The problem is the node not stream data to ros topic. `roslaunch xsens_driver xsens_driver.launch` and then `rostopic echo /imu/data`.

That is my mtdevice configuration.
[code]

[2015-11-10 13:33] fcolas commented on #18
Oh, weird. What happens if you launch the new node (`rosrun xsens_driver mtnode_new.py`), rather than the old one: do you have output on `/imu/data`?
With the new configuration, does `rosrun xsens_driver mtdevice.py -e` still provide info?

[2015-11-10 13:38] kingfolk commented on #18
`rosrun xsens_driver mtnode_new.py` works! i got the `/imu/data` finally!

thanks man! And sorry that i asked some vague questions.

[2015-11-10 13:44] fcolas commented on #18
No problem, I'm glad that it works. I'll try to free some time soon to clean a few things and deprecate `mtnode.py`.

[2016-01-07 10:41] herrfrei opened #20 "Support for reading extended Motion Tracker Specification data (eMTS) and logging to file"
Hi, to create a inpuit file for the magnetic field mapper I needed to change mtdef.py and mtdevice.py in the following manner:
mtdef.py:
  - ReqEmts = 0x90 and Emts = 0x91 added to class MID
mtdevice.py: changes to MTDevice class
  - corrected CRC computation error when extended length is used (needed for eMTS data) in read_msg()
  - added log file writing in read_msg()
  - added a member logfile

[2016-01-07 10:53] anlif commented on #20
It's much easier for the repository owners to add the changes if you create a pull request. See https://help.github.com/articles/using-pull-requests/

[2016-01-07 12:10] fcolas commented on #20
@anlif is right: please submit a pull request.

[2016-05-10 11:03] Abdallah-Sobehy opened #23 "GPS data on /fix and /fix_extended topics are not advertised with MTi-G-700"
I had the  `MT error: timeout waiting for message` issue with the mtdevice.py node as in this [issue](https://github.com/ethz-asl/ethzasl_xsens_driver/issues/18). Following the discussion, I checked that the configuration occurs anyways by changing the period with `-p` and seeing the effect with the `-i` command. So, ignoring the error message in the configuration step and running `mtnode_new` I a

[2016-05-10 14:01] fcolas commented on #23
@Abdallah-Sobehy can you tell which model of XSens IMU do you have?
Also, I see that you're requesting everything however the documentation states that raw inertial measurement is only compatible with raw GPS. If you're only interested in GPS as you say, what happens when you ask only for it?

[2016-05-11 08:14] Abdallah-Sobehy commented on #23
I am not quite sure, what do you mean by which model, I mentioned in the issue title that I am using the MTi-G-700, isn't this what you are asking for ?
I meant by only interested in GPS that I do not need the temperature. I tried the again the output mode without `r` option as follows :

and still nothing is advertised on for or fix_extended
and with only GPS data as follows :

What is noticble h

[2016-05-11 08:56] fcolas commented on #23
Ok, sorry, I had missed the title.
I guess that you confirmed that the configuration with only GPS (let's say `--output-mode=p` for the sake of brevity) was correctly set in the device as you did in your first message.
The question is then whether the device is actually outputting the expected information or not. Can you show the debug output of:

[2016-05-11 09:13] Abdallah-Sobehy commented on #23
With verbose set to true, I get the following output when running `rosrun xsens_driver mtdevice.py`

{'Acceleration': {'accY': -0.1954551637172699, 'accX': -0.05156486853957176, 'accZ': 9.816604614257812}, 'Status': {'StatusWord': 25165959}, 'Timestamp': {'SampleTimeFine': 53077931}, 'Magnetic': {'magZ': -0.9307743310928345, 'magY': -0.49424657225608826, 'magX': 0.027701910585165024}, 'Angular Vel

[2016-05-11 09:26] fcolas commented on #23
Weird. Can you also put the beginning of the output?
And the debug output of the configuration command as well?

[2016-05-11 09:27] Abdallah-Sobehy commented on #23
MT: Got message id 0x31 (GoToConfigAck) with 0 data bytes: []
MT: Write message id 0x0C (ReqConfiguration) with 0 data bytes: []
MT: Got message id 0x0D (Configuration) with 118 data bytes: [07 70 01 B1 02 40 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00

[2016-05-11 15:46] fcolas commented on #23
Well, thanks for the log. What I can see is that the output mode is correctly set but the data output doesn't correspond to it. According to the documentation I have, that shouldn't happen: `SetOutputMode` (which was the way to configure mk III devices) is supposed to be recognized by newer devices (mk. IV).
If you have access to to a Windows computer with the vendor software, you can try to set i

[2016-05-11 17:14] gnarang1024 opened #24 "Issue with MTi 1-series dev kit drivers after firmware update"
Hello, I've been using a slightly modified version of these drivers with a [MTi 1-series Development Kit](https://www.xsens.com/download/pdf/documentation/mti-1/mti-1-series_dk_user_manual.pdf) (with the MTi-3-8A7G6 sensor) for some time without any problem.

I recently updated the firmware from FW 1.0.6 version to the lates, FW 1.0.12 version and now, when I launch the xsens_driver.launch file I'

[2016-05-12 07:38] Abdallah-Sobehy commented on #23
Okay, thanks for your suggestion, I will get access to a windows computer as soon as I can and update you with the outcome in legacy mode. So, if it does not work would you think it is a hardware problem with the GPS sensor ?

[2016-05-12 11:52] peci1 opened #25 "Release a new version?"
It's been a year since the last version... What about releasing a new one? :)

[2016-05-18 22:07] jgonzal13 commented on #24
hi @gnarang1024,

have you made in progress on this issue? I also recently started using the same sensor (product code: MTI-3-8A7G6), but I'm also having trouble with the xsens_driver package with this specific sensor.

I haven't tried updating the firmware since I got it, but if I try to run the xsens_driver launch file (with the 'baudrate' and 'device' parameters set in the launch file), the nod

[2016-05-20 08:47] fcolas commented on #23
Ok, I was able to confirm that new models with new firmwares only abide by the configuration of `SetOutputMode` in legacy mode.
I'll try to update the node and driver to better support the mark IV devices in the near future.

[2016-05-25 16:24] fcolas commented on #25
I'm working on a more complete support of mk. 4 devices. It makes sense do a release at that time.

[2016-06-14 15:18] gnarang1024 commented on #24
So, the problem was that the timeout parameter was not enough. The default is set to (1/samplerate + 6ms). Increasing it to 10ms in the mtdef source file -->'additionalTimeOutOffset' solved the probelm.
Please see : https://github.com/xsens/xsens_mti_ros_node/issues/8 for details.
-Gautam

[2016-06-30 13:56] fcolas commented on #25
Can you test the new branch: better_mark_iv_support
It's supposed to be compatible with both old and new devices in both legacy and new mode (and you can configure in either mode).

[2016-08-02 13:00] fcolas commented on #7
This is now obsolete since #26

[2016-08-02 13:00] #7 closed

[2016-08-02 13:03] fcolas commented on #11
This should be solve since a while, and is obsolete with all recent changes.
If it happens again with the new version, please open a new issue.

[2016-08-02 13:03] #11 closed

[2016-08-02 13:04] fcolas commented on #23
This should be solved by #26

[2016-08-02 13:04] #23 closed

[2016-08-02 13:06] fcolas commented on #24
Many changes have occurred in the past weeks. Can you check again with the master branch and report if you still have the issue?

[2016-08-02 13:08] fcolas commented on #6
I guess it's a bit outdated. But if you're still interested, we can start a new discussion.

[2016-08-02 13:08] #6 closed

[2016-08-02 13:09] fcolas commented on #20
See #21

[2016-08-02 13:09] #20 closed

[2016-08-02 14:45] fcolas commented on #25
Done in 27f44f7

[2016-08-02 14:45] #25 closed

[2016-08-03 11:02] peci1 commented on #25
Thanks, we've deployed version 2 on the robot, fixed a few lines of (our) code, and it works.

[2016-08-10 17:31] Jebediah opened #29 "Publish_time_ref in mtnode.py has error"
TimeReference message member is named time_ref.
http://docs.ros.org/api/sensor_msgs/html/msg/TimeReference.html
There are two lines that refer to time_ref_msg.time
Works after changing to time_ref_msg.time_ref

[2016-08-16 16:04] fcolas commented on #29
Thanks for the report. It's fixed in bdcd6cf16bf53f6cf39f1f15c3f6163c8313ee3a.

[2016-08-16 16:04] #29 closed

[2016-09-05 08:49] herr-biber opened #30 "ROS wiki page has outdated usage of mtdevice.py"
http://wiki.ros.org/xsens_driver#mtdevice.py contains the documentation of ```mtdevice.py```. However, it is outdated and does not match the [upstream usage](https://github.com/ethz-asl/ethzasl_xsens_driver/blob/master/nodes/mtdevice.py#L1150) anymore.

Can you please update the ROS wiki page?

Cheers

[2016-09-05 09:05] fcolas commented on #30
Indeed, thanks.
I'll do that when I can edit the wiki again.

[2016-09-10 09:48] fcolas commented on #30
It's done.

[2016-09-10 09:48] #30 closed

[2016-12-04 02:21] athtest800 opened #31 "Run command SetNoRotation"
Hello!
How to run command SetNoRotation at startup so to calibrate the MTi-3?
It is in mtdevice.py
Thank you

[2016-12-05 18:27] fcolas commented on #31
Well, so far, this method isn't used anywhere. You can always use `mtdevice` as a module in an interactive Python session and manually call this function but I believe it's not what you want.

If you'd like to have this run each time you launch the ROS node, I guess the cleanest would be to have a new node parameter `~no_rotation_duration` defaulting to 0 and invoke the SetNoRotation procedure if

[2016-12-07 12:21] fcolas commented on #31
Ok, I did it. Can you try the code on the [no_rotation_on_startup](https://github.com/ethz-asl/ethzasl_xsens_driver/tree/no_rotation_on_startup) branch and tell me if it solves your issue?

[2017-01-23 07:50] metzge-ka opened #32 "Support for MTw2 devices"
In my current project, I have to use a Raspberry Pi 3 (RPi) with the Raspbian OS (version: jessie). Also some Xsens MTw2 sensors (up to 6) have to be connected to the RPi and the goal will be to record all sensor data to a SD card.
At first I tried to use predefined software from Xsens, such as the MT Manager, the Xsens Device API and accompanying example code. But, it turned out that it is not po

[2017-01-23 16:59] fcolas commented on #32
Dear Kai,

Thanks for the report. I'd like to investigate what's wrong with the inspection.
Could you try to comment out the line [1519](https://github.com/ethz-asl/ethzasl_xsens_driver/blob/master/nodes/mtdevice.py#L1519) of `mtdevice.py` to see whether this request is the only one posing problem?
It'd be nice if you could comment out each blocking request and tell me which are working and which

[2017-01-24 14:16] metzge-ka commented on #32
Dear Francis,

Here are the outputs your requested:

1) commenting out line 1519:
pi@raspberrypi:~/catkin_ws/src/ethzasl_xsens_driver-master/nodes $ ./mtdevice.py -i
Device: /dev/ttyUSB0 at 115200 Bd:
  device ID:  0x00B416B7
  product code: 'MTW2-3A7G6'
  firmware revision: (4, 0, 2)
  baudrate: 2
Traceback (most recent call last):
  File "./mtdevice.py", line 1704, in <module>
    main()
  File

[2017-01-31 15:01] ipa-mig opened #33 "Inspection of MTi-30 crashes"
I'm not quite sure if this is related to #32

Setup:
- Ubuntu 16.04.1 all up-to-date
- ROS Kinetic
- `xsens_driver` from apt: 2.0.1
- HW: MTi-30-2A5G4 over USB

When calling:

[code]

the script crashes with the following output:

[code]

Commenting out line [1520](https://github.com/ethz-asl/ethzasl_xsens_driver/blob/master/nodes/mtdevice.py#L1520) does the trick and it works perfectly.

[code]
w

[2017-02-02 14:27] fcolas commented on #32
Dear Kai,
Thanks for the additional tests.
What I can say:
1. I have trouble understanding the output given that `GetOptionFlags` exists and is actually properly called in your test with your other device.

2. Ok

3. Commenting out the general call to the inspection doesn't help us know which messages are properly supported by your MTw device. Can you continue commenting one by one the calls that

[2017-02-02 14:36] fcolas commented on #33
Ok, interesting. The documentation of this message was a bit unclear.
I've pushed the branch `fix_get_option_flags` can you try it out and tell me whether it's ok now?

[2017-02-02 15:36] ipa-mig commented on #33
Perfect. all good. Thank you for the fix.

For reference, below the output for `rosrun xsens_driver mtdevice.py -iv`

[code]

[2017-02-02 16:09] #33 closed

[2017-02-02 16:15] fcolas commented on #33
Thanks for the confirmation. It shouldn't break anything, but I couldn't test it with the device I have.

[2017-02-03 09:15] metzge-ka commented on #32
Hey Francis,

1)      I don’t know what to comment out next, after commenting out #1519 I commented out #1520 and #1430 (the latter doesn’t output anything), as well as commenting out #1704…
Sorry for my noobieness …

2)      Can I do something about the GetOptionFlags issue?
Will gladly continue with this but I have no clue, unfortunately…

Cheers,
Kai

From: Francis Colas [mailto:notifications@g

[2017-02-03 12:55] fcolas commented on #32
Dear Kai,

For the `GetOptionFlags` issue, I suspect that you did something more than just commenting line 1519 (when you make and unmake several changes, it can happen at some point to forget exactly what was done). To make sure, just revert all your changes (look at git documentation if you're not sure how) and comment again line 1519.

As for what to comment out next, it's written in the traceb

[2017-02-22 17:10] fredd2409 opened #35 "No /fix topic in rostopic list"
I have a problem similar to [this one](https://github.com/ethz-asl/ethzasl_xsens_driver/issues/23). I configured my device with `rosrun xsens_driver mtdevice.py -c pl,pa,oq,aa,gu,iu,vv,ns,tt` so I'd expect the GPS position in the fix topic in addition to temperature, imu data and a time reference.

I get the following rostopic list:
`/imu/data
/imu_data_str
/rosout
/rosout_agg
/temperature
/time_r

[2017-02-27 09:48] metzge-ka commented on #32
Dear Francis,
sorry for coming back that late...but I don't know what I can do to fix the other issue...

Now, I have another issue, though...it would be awesome if you could help me :-)
When I connect an MTi-G-700 sensor and run:
`pi@raspberrypi:~/catkin_ws/src/ethzasl_xsens_driver-master/nodes $ ./mtdevice.py -e`
I get the following output:
_{'Status': {'StatusWord': 129}, 'Timestamp': {'PacketC

[2017-02-27 10:27] fcolas commented on #32
Dear Kai,

Please don't mix the issues: this one is about MTw2; if you have a problem with an MTi-G-700, you should open a new issue on github.
As for what to do for the current issue, it's written in my previous reply. If you have a specific question on what I suggest, don't hesitate.

Cheers,

[2017-02-27 11:01] metzge-ka opened #36 "Problem with MTi-G-700"
Dear Francis,

I have another issue...it would be awesome if you could help me :-)
When I connect an MTi-G-700 sensor and run:
`pi@raspberrypi:~/catkin_ws/src/ethzasl_xsens_driver-master/nodes $ ./mtdevice.py -e`
I get the following output:
_{'Status': {'StatusWord': 129}, 'Timestamp': {'PacketCounter': 321, 'SampleTimeFine': 64662}, 'Orientation Data': {'Yaw': 0.006209181156009436, 'Pitch': -0.04

[2017-02-27 17:57] fcolas commented on #36
Thanks for the report.
I guess I see the problem. Can you checkout the branch `fix_gnss_pvt_parsing` and tell me if it's better?

[2017-02-27 20:39] #35 closed

[2017-02-27 20:41] fredd2409 commented on #35
My mistake, I thought that the /fix topic would be published (with 0s or a flag) even when there is no satellite signal.

[2017-03-07 12:36] metzge-ka commented on #36
Thanks, but I am not sure what to do exaclty.
What do you mean by checkout the branch fix_gnss_pvt_parsing?
(I cannot find a variable with that name...)
Do you mean the method parse_GNSS()?

[2017-03-07 17:15] fcolas commented on #36
Well, a branch is a git concept you might want to learn about.
Here is a good introductory book: https://git-scm.com/book/en/v2

[2017-03-09 08:54] hlware commented on #36
I had the same Problem with unpacking GNSS messages.  The branch fix_gnss_pvt_parsing solved that unpacking problem, with additionally correcting line 767 `o['bdop'] *= 0.01` to `o['ndop'] *= 0.01`.
However this fix directly results in the next error
`File ".../mtnode.py", line 508, in fill_from_GNSS
  self.gps_msg.status.service = NavSatStatus.SERVICE_GPS
AttributeError: 'int' object has no attri

[2017-03-09 09:20] fcolas commented on #36
Thanks for the report. I supposedly fixed both issues: can you confirm?

[2017-03-09 09:41] hlware commented on #36
Thanks a lot, that solved the problem.

[2017-03-09 09:51] fcolas commented on #36
Great, I'll merge it in.

[2017-03-09 09:51] #36 closed

[2017-03-09 09:53] fcolas commented on #31
Any news on that front? Where you able to test the branch?

[2017-03-09 09:55] fcolas commented on #24
If I don't get any news on this, I'm probably going to close this issue as it doesn't seem to be relevant any more.

[2017-03-09 15:11] Andersw88 opened #38 "Crash when running in ros kinetic"
pub_analog_in1_pub, typo with pub both in front and back?

Update:
Made a pull request with the typo fixed, "analog_in1_pub" seem to be the intended name considering the next line in the code and it seem to work.

[2017-03-10 10:16] #38 closed

[2017-03-10 10:16] fcolas commented on #38
Yes, indeed. Many thanks.

[2017-03-15 17:08] metzge-ka commented on #32
The problem for the MTw2, when running pi@raspberrypi:~/catkin_ws/src/ethzasl_xsens_driver-master/nodes $ ./mtdevice.py -b 0 -v –i:
seems to be fixed now.

pi@raspberrypi:~/catkin_ws/src/ethzasl_xsens_driver-master/nodes $ ./mtdevice.py -b 0 -v –i
Trying 115200 bd: MT: Write message id 0x30 (GoToConfig) with 0 data bytes: []
MT: Got message id 0x31 (GoToConfigAck) with 0 data bytes: []
MT: Write m

[2017-03-15 17:21] fcolas commented on #32
Well, I'm sorry but this doesn't look like the output of the inspection action but it seems like, for some reason, you used a n-dash `–` character instead of the standard dash `-` (see, it's not the same length).
Can you try again with the proper dash?

(I didn't fix anything because I'm without diagnostics I cannot, which is why there's no real reason that it'd be fixed.)

[2017-03-19 15:42] athtest800 commented on #31
It works only if I set seconds as String
`self.mt.SetNoRotation('10')`
It does not work if
`self.mt.SetNoRotation(10)`

[2017-03-22 14:58] fcolas commented on #31
Are you sure of that? I cannot test it here but from my code, `self.mt.SetNoRotation('10')` should give an exception from `struct.pack` such as `cannot convert argument to integer`.
When you say it does not work with `SetNoRotation(10)` what is the error?

[2017-04-07 06:24] Seong-konkukUniversity opened #40 "ROS Xsens driver error with MTi-G-700"
Hi Dear,

I have a problem with ROS Xsens dirver.

As shown in the attached files, When I  parsed the GPSSOL data from MTi-G-700, the data length is 52 byte which is not corresponding to the data length in MT Low-Level Communication Protocol Documentation. So I add the 'xxx' in the parsing code. Then I obtained the ECEF position.
However the other data such as ECEF velocity, position accuracy, etc

[2017-04-07 08:45] fcolas commented on #40
Hi,
I won't say better what `x` means in `struct.unpack` than the [documentation](https://docs.python.org/2/library/struct.html#format-characters).
The problem with adding `x` so as to make the size fit is that you're never sure you're adding it to the correct place: the data you get out can then be completely wrong.
Can you please paste the output of the command `./mtdevice.py -i`?
With this info

[2017-04-10 07:45] #24 closed

[2017-04-11 17:41] athtest800 commented on #31
Hi! Sorry, it was my fault. It runs OK!!
Thank you again!!

[2017-04-11 17:42] #31 closed

[2017-05-03 11:21] srirambadri opened #42 "Error message 0x29"
Hi,

I used the driver a few weeks ago and it worked fine. I have a MTi 1-series Imu.
But now I keep getting this error.

[code]
When I run the node alone _./mtdevice.py -c "wd2000fe,ad2000fe,mf100fe,ip2000,if2000,sw2000"_

I get the following output for _./mtdevice.py -e_
`{'Acceleration': {'frame': 'ENU', 'Delta v.z': 0.0808446928858757, 'Delta v.y': 0.05632352828979492, 'Delta v.x': -0.00099362

[2017-05-19 02:47] raymond30031 opened #44 "Extension for Synchronization"
Hello,

Is there plan to add commands for setting the synchronization settings of the IV generation devices?

If there is no plan in the near future and I wish to contribute, is it better to start the discussion here or through email?

Regards,
Juichung Kuo

[2017-05-19 10:57] fcolas commented on #42
Hi,
I found a more comprehensive list of error codes and yours corresponds to "XRV_DATAOVERFLOW" with the following message: "The device generates more data than the bus communication can handle (baud rate may be too low)."
You might want to check whether you changed something in the configuration that would have caused this issue.
On my side, I'll try to integrate all these messages in the driver

[2017-05-19 11:32] fcolas commented on #42
I pushed a commit on the master branch with all the error messages I could find. If you try again, you should get a more helpful error message.

[2017-05-19 11:41] fcolas commented on #40
No update on this?

[2017-05-19 11:51] fcolas commented on #44
Hi,
There is already code in `mtdevice.py` to get or set the synchronization settings (which can therefore be used in an interactive python shell) so I guess you mean adding command line arguments to set this configuration in a more user-friendly manner, am I right?
I didn't have specific plans as I didn't look too much at those settings, but if you already have an idea, we could indeed discuss it

[2017-05-19 20:57] veronicagruning opened #45 "Euler and Quaternions"
So when running this node, I want both the Euler and Quaternion angles, so within the function starting at Ln 297 and the again at Ln 421 I wanted to include:
roll, pitch, yaw = euler_from_quaternion(
                degree(orient_data['x']), degree(orient_data['y']),
                degree(orient_data['z']), degree(orient_data['w'])
After if/else and try/except, but syntax errors for the next fun

[2017-05-19 21:30] raymond30031 commented on #44
Hi,

Yeah, that is what I meant. I will branch off and I am sure I will have more questions and comments once I start working on it.

- JC

[2017-05-21 04:30] raymond30031 commented on #44
Hello Francis,

I just started adding some command options for synchronization.
I have created a separate branch, but I don't have write permission for push.
Could i get such permission?

I would say I am a junior programmer, so I am open to suggestions.
I was going to have every setting argument as a number, but I realize it might be difficult to parse them.
I am still thinking what is the best w

[2017-05-22 09:56] fcolas commented on #45
It is difficult to debug a SyntaxError without seeing the code but that might not be the problem.

I'm not exactly sure what you really want. I believe mark iv devices can be set to output their orientation both in quaternion and Euler angles. But the standard representation for orientations in ROS is quaternions for good theoretical reasons and we probably don't want to change that in a generic n

[2017-05-22 13:57] veronicagruning commented on #45
When running the node as it is currently, you see the quaternions live in the terminal and I want to see them concurrently. An engineer from xsens said there should be no issue in having both data strings being outputted. Ideally both information will come from the IMU directly.

[2017-05-22 14:43] fcolas commented on #45
I'm not sure what you're talking about since the node (`mtnode.py`) shouldn't output data in the terminal (if it is, please file in a bug report).
You might be referring to the command line configuration and inspection tool: `mtdevice.py` which is not a ROS node and not intended to by used as such during an application.
If you're unclear, please read the [documentation](http://wiki.ros.org/xsens_d

[2017-05-22 18:55] srirambadri commented on #42
Hi,

Thanks for edit. I tried the new code but still get the same error. I traced down the error to a line in the code: (line 624)`
def read_measurement(self, mode=None, settings=None)`
In that ```
else:
raise MTException("unknown data message: mid=0x%02X (%s)." % (mid, getMIDName(mid))
[code]

[2017-05-27 20:00] raymond30031 commented on #44
Hello @fcolas

I have finished adding command line support for set synchronization settings and UTC timer, but I need permission to send a PR.

-JC

[2017-06-12 09:15] fcolas commented on #42
Hi,
This new exception means the IMU is sending a message type that is unknown to the driver. It is different than the original one that was a message of known type (error) but with an unknown content (error number).
You can mute the error but if it's reproducible, it might be more interesting to investigate and try to solve it properly.
Can you paste me the full error message, please?

[2017-06-16 02:02] raymond30031 commented on #44
Hello @fcolas

My apologies, this is my first time contributing. I was branching off a clone of this repo instead of forking.
I have created a PR for this enhancement.
I look forward to your feedbacks.

JC

[2017-06-29 19:09] spacemanspiff0211 opened #47 "No angular velocity data"
Hey,

First of all thanks for the drivers. I am using an MTi-10 and when I run the `mtnode.py` node i don't seem to get the angular velocity data. But when i run `rosrun xsens_driver mtdevice.py -m 2 -f 10` I seem to get angular velocity values. The output of the console is

[code]
 and the rostopic echo message is
[code]
Any help is appreciated.

Thanks

[2017-06-30 08:18] fcolas commented on #47
It does seem like a configuration issue. The output from the node really looks like it only receives accelerations.
Can you paste the output of both `rosrun xsens_driver mtdevice.py -i` and `rosrun xsens_driver mtdevice.py -e`?

By the way, `rosrun xsens_driver mtdevice.py -m 2 -f 10` is not changing any configuration or anything: the `-m` and `-f` options only make sense with the `-l`/`--legacy-c

[2017-06-30 23:53] spacemanspiff0211 commented on #47
Hey,
by running `rosrun xsens_driver mtdevice.py -m 2 -f 10` i was using the test command from official ros driver from Xsens.
Anyways the output of `rosrun xsens_driver mtdevice.py -i` is
[code]
The o/p of `rosrun xsens_driver mtdevice.py -e` is
[code]
Thanks

[2017-07-03 09:54] fcolas commented on #47
Hi,
There is a small confusion: the official Xsens driver for ROS is not this one. A few years ago, XSens took this code, modified it and made that their official ROS driver (it's ok, it's a permissive open source licence). But I continued working on my version every now and then so the code as diverged: make sure you're using my version of the code and don't mix command line syntax (if you prefer

[2017-07-07 19:39] spacemanspiff0211 commented on #47
Hey,
For some unknown reason, it started working again. So thanks for all your support. I'm going to mark this issue closed.

[2017-07-10 12:14] fcolas commented on #47
Hi,
That's great; don't hesitate to ask if something weird happens again.
It might simply have been a configuration issue that you fixed somehow in the process of submitting the ticket.

[2017-07-10 12:14] #47 closed

[2017-07-17 12:47] fcolas commented on #44
Done in #46

[2017-07-17 12:47] #44 closed

[2017-07-17 12:49] fcolas commented on #42
Any news on that? If you give up, I cannot improve the driver.

[2017-07-17 12:49] fcolas commented on #45
Any update?

[2017-07-17 13:57] srirambadri commented on #42
Hi, I'm really sorry I wasn't notified on your previous comment and therefore couldn't reply. So here's the full error message

`process[xsens_driver-2]: started with pid [26432]
[INFO] [1500299647.267439]: Found parameter: ~device, value: auto
[INFO] [1500299647.272426]: Found parameter: ~baudrate, value: 0
[INFO] [1500299647.277256]: Found parameter: ~timeout, value: 0.002
[INFO] [1500299647.636

[2017-07-17 14:00] srirambadri commented on #42
I know it says Baud rate may be too low but when I set it manually to 115200 it still gives the same error

[2017-07-17 16:52] fcolas commented on #42
No problem.
115200 is the default baudrate and some devices don't really support all the possible baudrates.
Maybe the problem is more that you're asking for too much data. How is your device configured? Can you paste the output of:
```rosrun xsens_driver mtdevice.py -i```

[2017-07-17 17:34] srirambadri commented on #42
[code]

[2017-07-21 08:56] fcolas opened #48 "Support of Delta q angular velocity"

[2017-07-21 12:30] fcolas commented on #48
Done in #49

[2017-07-21 12:30] #48 closed

[2017-07-21 13:01] vincentrou opened #50 "Adding xsens_description"
Are you interested  in adding urdf description of the xsens mainly for simulation purpose with gazebo ?
We could move the actual files in a directory named `xsens_driver` and create a `xsens_description` pkg aside.

[2017-07-24 14:42] rastaxe opened #51 "No orientation for MTw2 devices"
First of all, I want to thank you for this repository. I tried the code from xsens for MTw devices and nothing works! But this code seems to work somehow, although there is something different for MTw2 devices.
Running inspect I got:
[code]

If I run the node, on the /imu/data there is not orientation data, while the other fields contain nans or close to zero values. This is an output of ./mtdevic

[2017-07-24 15:24] rastaxe commented on #51
Just an update. I used the mtmanager program from xsens to configure the device with the XDA processing preset, all the data are in 32-bit floating point. Now, when I start the ros node, it prints continuously some data
`(0.000338078, 0.009810718332989691, 102.0)`
`(-0.0059709992468379575, 0.009101840497048295, -0.010500355284005785)`
`(0.000298977, 0.009328674340196078, 107.0)`
`(-0.0063948362792

[2017-08-09 01:33] jpapon opened #52 "Timestamp jitter"
Hey,

I've been working with an XSens IMU recently connected via USB, and I'm running into some timestamp jitter issues. Looking through the code, it appears you are using rospy.Time.now() as the message timestamp - so the time the IMU data is received.

On my machine, there is considerable jitter in the received messages. For instance, if I have the IMU set to report at 200hz, if I run:
rostopic

[2017-08-14 16:49] raymond30031 opened #53 "Driver outputs running measurements in the terminal"
Hello Francis,

With the latest changes, the driver starts to output measurements in the terminal.
I assume it was not intentional.

the print statements are at line 596 and 597 of mynode.py

[2017-08-18 08:20] fcolas commented on #53
Hi, indeed, sorry for that. It's solved in 0ab8073f76481d22a2a325d90d9dd7be67ee07ca

[2017-08-18 08:20] #53 closed

[2017-08-18 09:11] fcolas commented on #52
Hi,
It's an interesting question.
First, I wouldn't believe it would be caused by Python, unless you notice that the node is taking 100% CPU. And I don't know of any effort to convert my node into C++. I know that there are (or were) other ROS XSens drivers (some in C++, based on an old C library from XSens) but I didn't check since the introduction of the fourth generation of their IMUs (which ch

[2017-08-18 09:26] fcolas commented on #51
Hi,
The inspection problem is related to issue #32 but I couldn't get enough information for debugging. At that time, we realized that the MTw2 didn't answer to some messages it didn't know instead of the documented behaviour which is to answer with an error message.
I wanted to make sure which where the messages it didn't correctly answer. For that, I'd like you to try the inspection by commentin

[2017-08-18 09:32] fcolas commented on #42
It seems to be a problem with MTi 1-series to not properly answer messages they don't know. Can you check my comment in #51 on the inspection and see if you can do that to solve the inspection issue?
Once that's done, we can take a proper look at the configuration and see to solve your issue.

[2017-08-18 09:34] fcolas commented on #50
If it is useful for anybody and putting it alongside the driver is a good solution, I'd be happy to accept the pull request.

[2017-08-21 07:11] HannesSommer commented on #52
@jpapon, I believe you are actually looking (partially) for one way timestamp translation (typically done by estimating offset and slope of hardware timestamps  based on the associated receive timestamps).
This is related to @fcolas ' second bullet point.

It is not a very hard problem but still some work to implement and test. We are currently working on a library solely for that purpose and desi

[2017-08-27 12:00] wojiaojiao opened #55 "could not find proper MT device."
rosrun xsens_driver mtdevice.py
is ok!
but
rosrun xsens_driver mtnode.py
is show erro:could not find proper MT device.
why?

[2017-08-28 21:54] srirambadri commented on #42
[code]

[2017-09-04 09:38] rastaxe commented on #51
Hi,
  finally, I was able to successfully use the sensor, using the xsensdeviceapi library. However, when I have time I will help you to solve the inspect problem.

[2017-09-19 11:22] fcolas commented on #55
It's rather unexpected.
Could it be that you have a parameter set somehow that overrides the default for the ROS node.
Could you try again and paste the output of the following commands:
[code]
Also does this behaviour happen using the launch file:
[code]

[2017-09-19 11:24] fcolas commented on #42
Great, many thanks for your work. I'll push a quick fix soon.

[2017-09-19 12:56] fcolas commented on #42
I pushed a `fix_mt1_series_inspect` branch. Could you please try it out?
Thanks again.

[2017-10-27 10:49] lastflowers opened #57 "issue on delaying timestamp at every specific sample."
Hello,
I have build your driver for imu data logging to have ROS timestamp along with stereo images
Since we are researching visual inertial odometry algorithm, timestamps on images and imu data are crucial.

Also we are using Mti-g 3rd generation legacy sensor,
https://www.xsens.com/products/mti-g/

When I draw timestamp rosbagged by Xsens_driver at 115200 bps, it shows like stairs, so I plotted

[2017-10-27 13:14] DLabo opened #58 "Driver output shows strange behavior"
Hello,

I am using the Xsense MTi-30 both with ROS kinetic and Ubuntu 16.04 and ROS indigo and 14.04. The data obtained looked correct but when I visualized them with rqt-plot I found a strange behavior in the output (screnschot attached). Has someone already dealt with this problem?

Thanks
![imu_output](https://user-images.githubusercontent.com/19471061/32105617-65c1ef02-bb29-11e7-9b4f-24339b7c2

[2017-11-18 17:50] JorgeHormaza opened #59 "New at all"
Hi there,

My name is Jorge and I'm totally new in ROS. I've been working with python for a while and I want to get the real-time data from one or two MTw Xsens for a project of my Uni. First, I tried to use the API from Xsens with python but Python is unsupported platform by Xsens so I couldn't. After I found this repository and I guess I can get the real-time data with it but I've never used ROS

[2017-11-22 19:06] Chambana commented on #55
I have the same issue with my MTI-G IMU:

sometimes I get this error:

sometimes I get good output:

However, this error is consistent whenever I run the ros node:

Strangely, running the python script shows good output from the MTI-G IMU:

Of note, I have confirmed that the device was added to the dialout group

and I reset the the MIT-G to factory defaults using the -r flag.  No change.

Also, I

[2017-11-27 10:50] fcolas commented on #59
Hi Jorge,
The issues here are more about specific problems you encounter with the driver.
If you want help to begin using ROS, the best is really to check the documentation and do the tutorials [1]. Once you've taken a look at ROS, if you still have ROS questions, you can try to ask them to ROS answers [2].
Finally, if this Xsens driver malfunctions or if the documentation is unclear, you can come

[2017-11-27 10:50] #59 closed

[2017-11-28 09:10] fcolas commented on #58
This looks strange and I don't observe the same thing. Does it happen in both indigo/14.04 and kinetic/16.04?

Can you show the output of:
```rosrun xsens_driver mtdevice.py -i```
Also of:
```rostopic hz /imu/data```

One explanation I could think of is that for some reason the data is buffered and published in bursts. Can you try to show when the data is published by editing the properties of the

[2017-11-28 09:13] fcolas commented on #55
I'm not sure what's happening here but it might just be some timing issues. Did you try to increase the `timeout` parameter of the node?

[2017-11-28 10:46] fcolas commented on #57
It's not what I observe and I couldn't find a way to reproduce this issue. Does it happen only on a single bag? How are the IMU and stereo camera connected, are they both in USB? Does it happen also when you disconnect the cameras?
I guess you don't have access to a 4th generation IMU to compare?

[2017-11-28 11:12] lastflowers commented on #57
It happened when connecting only with Mtig sensor, and I wired it through usb.
Also, it happened anytime, not on a specific bag.

So I tried the 3rd generation sensor with other laptop (ThinkPad W540) in Ubuntu 14.04 and it didn't show any remarkable delay.

Also, I tred the 4th generation sensor with the same laptop (Dell precision 5520, Ubuntu 16.04)  posing the issue and it also did not show an

[2017-11-28 13:07] fcolas commented on #57
Can you check and compare the CPU load of the Dell and ThinkPad with the 3rd generation sensor? Is the driver using significantly different resources?
Also is the 4th gen IMU configured exactly in the same way as the 3rg gen., specifically using the legacy mode?

[2017-11-28 13:28] fcolas commented on #52
@jpapon I've pushed a working branch with additional tools to help look into this issue. Namely the node publishes the time it took to get the measurement from the IMU through the driver (`/acquisition_time`), the difference between current and ROS timestamps (`/delta_stamp`) and the difference between the current timestamp and the time reference from the IMU (`/delta_time_ref`).
What I observe is

[2017-11-28 13:40] fcolas commented on #51
I'm going to close this issue since you found a solution. The `inspect` problem is supposed to be fixed in `fix_mt1_series_inspect` branch (see #60) if you can help test it, it would be great.

[2017-11-28 13:40] #51 closed

[2017-11-28 13:45] fcolas commented on #42
@srirambadri if you could test the branch before I merge #60 it would be great.

As for your original issue. Did you try remove some of the info, or just to lower the frequency?

[2017-11-28 13:47] fcolas commented on #45
Closing since it doesn't really seems to be an issue and you don't seem to be interested any more.

[2017-11-28 13:47] #45 closed

[2017-11-28 13:50] fcolas commented on #32
It should be fixed in #60

[2017-11-28 16:24] guilhermeguimaraes commented on #51
I also have issues with the driver. does not work properly

[2017-11-28 16:29] guilhermeguimaraes commented on #51
*fix_mt1_series_inspection

[2017-11-28 16:31] guilhermeguimaraes commented on #42
I am also having problems with the driver. I git cloned the fix_mt1_series_inspection and the launch file generates the following output:
[ERROR] [1511886468.072091]: Fatal: could not find proper MT device.

[2017-11-28 16:33] guilhermeguimaraes commented on #42
I am using a MT1-1s IMU with Ubuntu 16.04 and ROS Kinetic

[2017-11-28 16:58] guilhermeguimaraes commented on #51
I am using a XSens MT1-1s IMU with Ubuntu 16.04 and ROS Kinetic

[2017-11-28 17:25] jpapon commented on #52
@fcolas Interesting, I'll try it out when I have some time. I actually wound up throwing together my own c++ node using the xcommunication library, and that eliminated the problem for the most part. There was still some small amount of jitter, but I suspect that was due to us reading from 5 RealSense cameras on USB as well.

[2017-11-28 18:27] JorgeHormaza commented on #55
I got the same error. However, I'm not sure about the parameters if I have to change something or not. (I mean if this code is able to recognise all parameters from the dongle) because I'm using:
roslaunch xsens_driver. launch
I get:
... logging to /home/laura/.ros/log/70dee1ba-d460-11e7-9763-ace0106a1abd/roslaunch-laura-X453MA-4162.log
Checking log directory for disk usage. This may take awhile.

[2017-11-29 02:13] awesomebytes commented on #55
Hello, first @JorgeHormaza could you reformat your comment so it's not all in big bold letters? If you want to paste a piece of code/output you can write in between two triple back-ticks "```" as explained [here](https://help.github.com/articles/creating-and-highlighting-code-blocks/#fenced-code-blocks) it will make it easier to read.

Note that I don't have a device to try any of this.

What vers

[2017-11-30 13:22] fcolas commented on #42
@guilhermeguimaraes This doesn't seem to be the same issue. The issue here is about `Error message 0x29`. Maybe you want to take a look at #55.

[2017-11-30 14:18] fcolas commented on #51
@guilhermeguimaraes Thanks for your interest in my node. However, this issue is closed and is not the same as yours so there's no need to reopen it.
Also, a few things to make both our lives easier:
- don't spread your messages across several issues: you'll need to repeat and I won't keep up with what you said where and I'll miss information;
- it's not a chat; take the time to build your question

[2017-12-01 22:00] JorgeHormaza commented on #55
Hi @awesomebytes  Thank you so much for answer my message, I followed all the steps but another error is generated. I get:

´´´ ... logging to /home/laura/.ros/log/916d304c-d6dd-11e7-ad6e-ace0106a1abd/roslaunch-laura-X453MA-8285.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking log file disk usage. Usage is <1GB.

started roslaunch server http

[2017-12-08 17:23] fcolas commented on #55
For the node, you have set the parameter `baudrate` to 961200. Did you try to configure your device with such baudrate?
If so, I mentioned on the wiki that some devices might not actually support all the baudrates they are supposed to: I had to use the emergency reset procedure (not just reset to factory default take a look at your manual).

[2017-12-12 10:51] 0xd1ma opened #61 "5 th generation"
Hello everyone.

For autonomous vehicle project, I am planning to by MTi-30 AHRS.

On http://wiki.ros.org/xsens_driver says: "This package provides a driver for the third and fourth generation..."

Do this ROS driver supports 5 th generation of Xsens sensors?

Thank you.

[2017-12-13 16:53] fcolas commented on #61
I'm not aware that Xsens updated their sensors to a fifth generation and, to my knowledge, MTi-30 AHRS is a name that fits the MTi-10 series introduced as the fourth generation.
Can you provide a link for that?
In any case, as long as it complies to the same protocol with the same message type on a serial or USB interface, it should be supported.

[2017-12-14 12:08] 0xd1ma commented on #61
first page and Introduction
[MTi_usermanual.pdf](https://github.com/ethz-asl/ethzasl_xsens_driver/files/1559083/MTi_usermanual.pdf)

[2018-01-30 01:49] hadiTab commented on #58
Are there any solutions for this yet?

I'm having the same issue with an MTI-3.
The problem is in the time stamps for the ros messages. Each of those near vertical parts in the graph is 5 consecutive messages that are being stamped too close to each other. The sensor data looks right in MT Manager though.

The frequency of the published messages is at 100 (+/- 2 hz).

running ```rosrun xsens_drive

[2018-01-30 09:36] DLabo commented on #58
I could not investigate more this problem but I found out that, in my case, it was related with the cable I was using (CA-USB2-MTI). By connecting my MTi-30 with a  CA-USB-MTI I have a regular behavior.

[2018-01-30 13:38] juliangaal opened #62 "Driver adheres to REP 105?"
Hi,
I'm using [robot localization](http://docs.ros.org/kinetic/api/robot_localization/html/index.html) and was wondering if the drier follows [REP 105](http://www.ros.org/reps/rep-0105.html) standards, in particular, can I assume

found in [robot_localization docs](http://docs.ros.org/kinetic/api/robot_localization/html/integrating_gps.html#imu-data)

Thanks

[2018-02-06 15:01] madmage commented on #51
So, @fcolas , I see that @rastaxe was able to fix the 0 0 0 0 orientation problem, but how? I am having the same issue after upgrading the firmware of my Xsens.

[2018-02-28 08:44] matteopantano opened #63 "Configuration parameteres mti-3 1-series"
Hey guys,

I am struggling with the configuration of a mti-3. I would like to know if I can tell to the xsens to activate representative motion and ICC otherwise the reading is not consistent. Furthermore I would like to deactivate AHS.

Thanks

[2018-03-01 13:15] matteopantano opened #64 "How to use imu_filter_madgwick"
Hi,

Is there a way to use IMU filter madgwick with xsens_driver?

Thanks.

[2018-03-06 14:07] fcolas commented on #64
I don't know this package but from a quick look at the documentation I don't see why not (using a small remapping of the topics). But that's a question more for the maintainer of this package. You can also try asking it on [answers.ros.org](answers.ros.org).

[2018-03-06 14:07] #64 closed

[2018-03-06 14:34] fcolas commented on #63
These are new features I didn't know existed. It seems to have been introduced sometimes last year, maybe along with mk5 devices.
I'll try to take a quick look but if not too many things changed, it could be relatively quick to add.

[2018-03-06 14:38] fcolas commented on #61
Sorry for the delay. I was finally able to find updated documentation and it seems that they only added a few things but most of the protocol is similar. I expect most things will work and but the new feature are not yet configurable. I'm going to work on that.

[2018-03-06 14:39] fcolas commented on #62
Sorry for the delay. Yes, I'm using the standard ROS conventions for reference frames.

[2018-03-06 14:39] #62 closed

[2018-03-06 14:41] fcolas commented on #58
That's an interesting finding; many thanks @DLabo
I'm closing it seems it doesn't seem to be related to the driver.

[2018-03-06 14:41] #58 closed

[2018-03-06 14:42] fcolas commented on #55
Any news on that?

[2018-03-06 14:46] fcolas commented on #51
@madmage I believe it was simply a configuration issue: try looking at the current configuration of your IMU to check what it should output.

[2018-03-07 07:11] matteopantano commented on #64
I did that but the filter return me nan values, if I try to use another IMU (aka phidgets spatial) it runs smoothly. This was the reason of my question regarding this package. Thanks anyway

[2018-03-14 16:28] fcolas commented on #63
I've started to code the features for this support, but I don't have access to a fifth generation device to test it.
Could you take a look at the `support_gen_5` branch and test it, please?
The new features are mainly the `--gnss-platform`, `--option_flags`, and `--icc-command` command line arguments to `mtdevice.py`. Obviously you cannot really test the first one, but you should be able to play a

[2018-03-22 13:47] facontidavide commented on #57
I am having exactly the same issue. I have a MTi-28A53G35 sensor and the load of the CPU is very low.

Could it be related to this ? https://github.com/ethz-asl/ethzasl_xsens_driver/blob/master/nodes/mtnode.py#L686

![xsenx_delay](https://user-images.githubusercontent.com/2822888/37774158-cd8164d2-2ddf-11e8-976f-73ab0b251c05.png)

[2018-03-23 12:49] hecperleo opened #66 "Can not use fix topic on MTi-G"
Hi,

I am trying to use MTi-G with GPS on ROS.

Most of the time I get this output
[code]

Sometimes I get this output
[code]

If I run this command I get this output
[code]

By the way, I am able to see
[code]

But I have GPS connected also so I want to see longitude, latitude, and altitude. Any solution?

Thanks.

[2018-03-23 12:54] fcolas commented on #57
I'm not sure, your graphs show that the delay you experience is less than this 0.1s delay so it doesn't seem to fit.
Could you try the `time_debug` branch and the topics as described in [issue #52](https://github.com/ethz-asl/ethzasl_xsens_driver/issues/52#issuecomment-347523301)?

[2018-03-23 13:02] facontidavide commented on #57
Sure, I will do it.

[2018-03-23 13:05] fcolas commented on #57
If you can, you may also want to try with another cable (see [#58](https://github.com/ethz-asl/ethzasl_xsens_driver/issues/58#issuecomment-361533280)).

[2018-03-23 13:15] fcolas commented on #66
Getting those topics should be pretty easy once the `Timeout` exception is solved: it should just be a change in configuration.

For this exception, adding the verbose flag might help us get more information; can you try `rosrun xsens_driver mtdevice.py -i -v`?

Cables might have an impact on the communication (see #58).
The simplest temporary fix could be to try increasing the timeout in [`mtdevi

[2018-03-26 07:49] hecperleo commented on #66
To get more information I did this:

[code]
rosrun xsens_driver mtdevice.py -i -v
MT: Write message id 0x30 (GoToConfig) with 0 data bytes: []
waiting for 1 bytes, got 0 so far: []
waiting for 1 bytes, got 0 so far: []
waiting for 1 bytes, got 0 so far: []
waiting for 1 bytes, got 0 so far: []
waiting for 1 bytes, got 0 so far: []
[code]
rosrun xsens_driver mtdevice.py -i -v
MT: Write message id 0

[2018-03-28 14:49] moooeeeep opened #67 "Error with mtdevice.py -i since firmware upgrade to 1.8.2"
Since we upgraded the firmware on our devices to version 1.8.2 we observe errors with the `mtdevice.py -i` script. Apparantly the response received is longer than expected, and thus it fails to parse given the pattern.

Here is the output for example:

	$ rosrun xsens_driver mtdevice.py -i
	Device: /dev/ttyUSB0 at 115200 Bd:
	  device ID:  0x077003D4
	  product code: 'MTi-G-700-2A5G4'
	  firmware

[2018-04-03 19:37] danendrasingh opened #68 "Package compatibility with MTi-1 Series 3D Module"
Hello
Is this package compatible with MTi-1 Series 3D Module, Link below:

https://www.digikey.com/product-detail/en/xsens-technologies-bv/MTI-3-DK/MTI-3-DK-ND/5325385

[2018-04-04 08:59] fcolas commented on #66
The last point (`unable to open .dev.ttyUSB0`) is a different issue, you might accidentally have tried running `mtdevice.py` while the device was already opened (for instance another terminal with either the node or `mtdevice.py` running).
I'm not sure I understand what happens when you set the timeout to `0.01`. Do you really get only the 6 lines you pasted? If you try without the `-v` flag, does

[2018-04-04 09:25] fcolas commented on #67
I just pushed a new branch `fix_get_alignment_rotation` which should fix the issue, please check it out.
I believe it was just a bug in my code (I didn't read the specs correctly) that didn't appear before (most devices seem to not answer this message). Do you remember if you ever got a value for this `alignment rotation sensor/local`?

[2018-04-04 09:38] fcolas commented on #68
I have no experience but that development kit is supposed to allow you an easier access to the device, in particular through USB (or serial) connection. Therefore I don't see why it shouldn't work.
Several people have posted issues on MT-1 series devices; I wouldn't be surprised if they actually used the DK. You might try to contact them; or even directly Xsens if you want to be sure.

[2018-04-04 09:38] #68 closed

[2018-04-04 09:39] fcolas commented on #63
@matteopantano Any news? It'd be great if you could help me test the functionality you requested.

[2018-04-04 09:40] fcolas commented on #61
@0xd1ma Did you buy the device? If so, could you test the `support_gen_5` branch?

[2018-04-04 09:43] fcolas commented on #55
@wojiaojiao @Chambana @JorgeHormaza I'm going to close the issue if you don't have it any more.

[2018-04-04 09:44] fcolas commented on #50
@vincentrou Are you still planning on adding this description?

[2018-04-04 09:48] fcolas commented on #40
@Seong-konkukUniversity This data type has been deprecated. It would be nice to have a solution for this issue but without your help, I'll have to close it.

[2018-04-04 09:49] fcolas commented on #32
@metzge-ka Can you confirmed it's fixed?

[2018-04-04 10:47] hecperleo commented on #66
Retrying `rosrun xsens_driver mtdevice.py -i -v` without other terminals open, I get this output:

[code]

[2018-04-04 12:29] fcolas commented on #66
Ok, so if you don't get any more timeout error with this setting, you should be able to configure your device to output GPS information (see legacy configuration in the documentation).
I'll try to add a command line parameter for a longer timeout.

[2018-04-04 13:47] fcolas commented on #66
@hecperleo I've pushed the `timeout_param` branch adding a command line argument (`-t` or `--timeout`) to `mtdevice.py` so as to pass a different timeout value than the default (`0.002`).
Could you test it?

[2018-04-04 13:56] hecperleo commented on #66
Thanks! I am not used to python. I saw legacy configuration but I was not able to do it right. I wrote
[code]

[2018-04-04 14:11] fcolas commented on #66
Well, it's more about command line arguments (in the standard GNU way) than about Python.
Your current configuration can be obtained with:
[code]

If you want to additionally get position and velocity from the IMU you can try:
[code]

[2018-04-04 14:17] hecperleo commented on #66
Thanks you!

Now I can see and use /fix and all IMU topics.

[2018-04-04 14:18] #66 closed

[2018-04-04 14:52] hecperleo commented on #66
Yes, it solves my timeout issue. I forgot to confirm it.

[2018-04-04 14:54] fcolas commented on #66
Many thanks!

[2018-04-04 16:27] JorgeHormaza commented on #55
So sorry Mate, I had to quite with this project for personal reasons. However,  Thank you so much for your help.

Cordialmente;
Jorge Andres Hormaza Parra
Estudiante Ing. Biomédica

jorge.hormaza@mail.escuelaing.edu.co

Cel 311 2348385

Universidad del Rosario - Escuela Colombiana de Ingeniería Julio Garavito

________________________________
De: Francis Colas <notifications@github.com>
Enviado: m

[2018-04-09 13:18] lastflowers commented on #57
Sorry for the late reply. Meanwhile, I've got 5th generation sensor, MTi-300, and no problem occurs in the timestamp issues.

[2018-04-10 15:19] fcolas commented on #57
Ok, no problem. Meanwhile, it would be great if you could test the `support_gen_5` branch (see #63).

[2018-04-11 03:53] tbarchyn commented on #67
Possibly of help: I had the same error with a new MTi-3, which I presume is close to the latest firmware. The `fix_get_alignment_rotation` branch repairs it for me.

The output from `mtdevice.py -i` is working now:
[code]

[2018-04-11 04:40] tbarchyn commented on #42
Possibly of help: I can reproduce this 0x29 bug. I have a new MTi-3, the configuration output from `mtdevice.py -i` is:
[code]
When running `mtdevice.py -v` to print out the verbose mode output, this is the output before the crash:
[code]
A few other points of info that possibly may be of help:
1. this happens every second time I run `mtdevice.py`: works, fails, works, fails, etc. Maybe it is fail

[2018-04-11 08:45] fcolas commented on #67
Great, thanks for your feedback. I'll merge it in, then.

[2018-04-11 08:46] fcolas commented on #67
Fixed in #71

[2018-04-11 08:46] #67 closed

[2018-04-11 10:05] fcolas commented on #42
Many thanks for your information. It's quite puzzling.
I guess the same happens when you run the ROS node instead of `mtdevice.py`, right?
But does it also happen for `mtdevice.py -i` every second time?

In your log, it does happen while switching the device to config mode.
Indeed, the first thing the driver does is this switch, in order to know what to expect as data (it was useful for mark III d

[2018-04-12 04:37] tbarchyn commented on #42
Thanks for the ideas. I don't have ROS working now on this computer, so my apologies, I cannot test the node part of this.

But to answer your second question: when calling `mtdevice.py -i` repeatedly, it doesn't crash. So yes, likely this is issue with the device being in measurement mode, then being forced into config mode.

One possibility is that the `self.device.flushInput ()` call in `__init

[2018-04-21 15:02] 0xd1ma commented on #61
@fcolas the sensor will arrive in mid-May. I will test

[2018-05-04 14:47] shahvi opened #72 "Suggest adding an initial wait to allow the sensor to come online"
Hi,
A small enhancement suggestion.  For applications where the IMU might be on a relay, I suggest adding a parameter to specify a small wait time before the node attempts connection to the serial port.  This would allow the IMU to be online before the node attempts any config.
Thanks.

[2018-05-08 22:10] Voidminded commented on #51
Is this issue closed without any fix?
@fcolas I believe it was not a configuration issue, as @rastaxe mentioned he gave up using this driver and is using the `xsensdeviceapi` library (from xsens) to get the orientation for MTw2.

[2018-05-22 11:29] fcolas commented on #51
@Voidminded  Well, I put the “need more info” tag on this question for a reason: only with the help of @rastaxe can we see what's the problem (and who's right) on this particular case. I'm willing to discuss this case to improve the driver, but only on stronger bases than our respective opinions.
However, if you have an issue with a device and want to help me debug, you're more than welcome to ope

[2018-05-24 03:39] nflsalex opened #73 "No linear velocity in Velocity message"
I am using MTi-G-710. It outputs Velocity messages but all the linear velocity message have 0 values. Can someone help me with this?

[2018-05-24 19:49] fcolas commented on #73
Did you make sure to configure your device so as to output the linear velocity?
Can you show us the output of:

    $ rosrun xsens_driver mtdevice.py -i

and a few lines of:

    $ rosrun xsens_driver mtdevice.py

[2018-06-08 21:28] willdzeng commented on #73
I am having the same issue, this is what I got:
[code]

[code]

[2018-06-08 21:44] willdzeng commented on #73
I guess it must be a configuration problem, is there any defualt command to run to configure the device correctly? so that it can send acceleration, velocity and position at the same time?

[2018-06-08 21:52] willdzeng opened #74 "fixed point precision not supported."
I got the following error when running the driver from roslaunch
[code]

This is what I got from mtdevice.py -i
[code]

This is what I got from mtdevice.py
[code]

[2018-06-08 22:00] willdzeng commented on #74
Note that if I change https://github.com/ethz-asl/ethzasl_xsens_driver/blob/master/nodes/mtdevice.py#L916
to
[code]
it works just fine

[2018-06-11 14:03] fcolas commented on #74
Indeed fixed point precision is not yet supported: a pull request to add support is welcome.
In the meantime, unless you have a good reason for it (I'd be curious to know), I'd suggest simply configuring your device with floating point numbers.

However, removing the `raise` statement as you did is **not** working just fine: the values you will get will be wrong.

[2018-06-11 14:17] fcolas commented on #73
@willdzeng The exception you get during inspection is fixed on master: I suggest updating to use that (I should do a new release, I guess).
Looking at your configuration, I see that you should have velocity, but the velocity (0xD012) and position (0x5042 and 0x5022) messages will be send as fixed point which, as you know (#74) is not supported by this driver.
I suggest converting to floating point

[2018-06-11 18:48] willdzeng commented on #73
Thansk for the reply!
I still got this  error from master, when I run
[code]
[code]

[2018-06-11 18:56] willdzeng commented on #73
Also after change to floating point, I do get everything now.

[2018-06-11 18:58] willdzeng commented on #74
I used the GUI to configure the device to send floating point, now it works. Maybe we can have the driver to set up the device using floating point since we are not supporting it anyway?

[2018-06-12 09:27] fcolas commented on #73
@willdzeng Great to hear you get everything.
I'd like to fix the inspection issue. Could you please paste the output of:

    rosrun xsens_driver mtdevice.py -v -i

[2018-06-13 22:15] willdzeng commented on #74
I see, thanks.

[2018-06-13 22:15] #74 closed

[2018-06-14 08:19] fcolas commented on #73
@willdzeng Ok I see, thanks. They changed (fixed) the behaviour in `GetAlignmentRotation` after your version. I'll come up with a patch.

[2018-06-19 05:04] ozakiryota commented on #73
I still have the same issue I cannot get neither angular_velocity nor linear_acceleration like this,

`roslaunch xsens_driver xsens_driver.launch`
`rostopic echo /imu/data`

  seq: 312
  stamp:
    secs: 1529377005
    nsecs: 255074024
  frame_id: /imu
orientation:
  x: -0.00360706239007
  y: -0.00864999182522
  z: -0.641639351845
  w: 0.766949117184
orientation_covariance: [0.01745, 0.0, 0.0, 0.0

[2018-06-19 12:59] 0xd1ma commented on #61
Finally, the sensor arrived and I performed some tests.
Brunch works.
but
from time to time the node stops working and issues the following:
`SUMMARY
========

PARAMETERS
 * /rosdistro: kinetic
 * /rosversion: 1.12.13
 * /xsens_driver/baudrate: 115200
 * /xsens_driver/device: /dev/mti30
 * /xsens_driver/frame_id: imu
 * /xsens_driver/frame_local: ENU
 * /xsens_driver/no_rotation_duration: 0
 * /xs

[2018-06-20 15:59] fcolas commented on #61
Many thanks for the information.
The issue you have seems to come from parsing the message from the IMU. Is it easy to reproduce?
Does it happen without the node (there's no reason it wouldn't):

    rosrun mtdevice.py

If that's the case, you could try with the verbose flag and paste the (end of the) output of:

    rosrun mtdevice.py -v

This would allow us to see the content of the message that

[2018-06-20 16:06] fcolas commented on #73
@0xd1ma This issue is about missing the linear velocity from GPS on MTi-G-710. Ensure in the configuration of your IMU that angular velocity and linear acceleration are supposed to be output (see my first comment above). If that's the case and you don't get any value, please open a new issue.

[2018-06-20 16:27] ozakiryota commented on #73
@fcolas<br>
I am sorry that I misunderstood and missed some.<br>
Thank you for the prompt and polite reply!

[2018-06-21 09:55] fcolas commented on #73
@willdzeng I push a new branch `fix_get_alignment_rotation`. Could you try it out to see whether it fixes the inspect issue?

[2018-06-21 12:03] koko19 opened #75 "SyncOut indication"
I have configured MTI 10 to send sync out signal, and checked using oscilloscope that it indeed does it correctly. However I am unable to find a way to detect in which message sent by the driver to ros did the sync occur. Is this possible and if yes, could you please explain how?

[2018-06-21 15:51] fcolas commented on #75
Disclaimer: I never used the synchronization settings and I'm not sure I find the documentation so clear. Also, I'm not sure what you exactly want to do, nor what is your configuration (you can help on this).
But from what I gathered, if properly configured (`TriggerIndication` function), bit 22 of the `StatusWord` should contain tell you when the triggered occurred. This `StatusWord` is not publi

[2018-06-26 02:00] willdzeng commented on #73
I tried it with your branch, `fix_get_alignment_rotation`, but it's getting same error:

Traceback (most recent call last):
  File "/home/zeng/ros_ws/src/ethzasl_xsens_driver/nodes/mtdevice.py", line 1890, in <module>
    main()
  File "/home/zeng/ros_ws/src/ethzasl_xsens_driver/nodes/mtdevice.py", line 1535, in main
    inspect(mt, device, baudrate)
  File "/home/zeng/ros_ws/src/ethzasl_xsens_dri

[2018-06-26 07:34] koko19 commented on #75
I have two cameras which I want to sync with IMU syncOut signal. Afterwards, in order to assign correct IMU measurements to images I have to know which IMU message contained sync signal. I have configured the IMU using the Xsens SDK to send syncOut every 50ms (20Hz) and I receive that signal on the oscilloscope, however the StatusWord in imu_data_str always remains the same. Here is an example:

d

[2018-06-26 14:55] fcolas commented on #73
Sorry, I messed up with my branches: now it should work better. Can you try it again?

[2018-06-26 15:09] fcolas commented on #75
This value has bit 22 on with means, according to the document “When SyncOut is active this bit will rise to 1”.
Can you show the output of:

    rosrun xsens_driver mtdevice.py -i

[2018-06-26 15:23] sumitspattan opened #77 "Xsens Driver Implementation in C++"
Hello,

I wanted to implement xsens ros driver in C++. What is the basic idea to proceed and how to make it ?

[2018-06-26 15:41] fcolas commented on #77
The basic idea is to look at the low-level communication documentation (now available on Xsens website), correctly parse the messages from the IMU (and send correct messages), and then transform them in appropriate ROS messages.
It is relatively easy to do if you restrict yourself to only a few features and models. It's more complex if you want to support many different devices with various config

[2018-06-27 00:36] willdzeng commented on #73
yup, that works.

[2018-06-27 06:40] sumitspattan commented on #77
I am working in a company and we have development platform. So we wanted to implement xsens driver in C++.
There is no problem with the present node.

[2018-06-28 12:15] fcolas commented on #77
Ok, I'm not sure I understand the reasoning but I hope you'll be able to do it with the information I provided. In any case, I will close this issue (because that's not a real issue).
You can still contact me here if you have specific questions.

[2018-06-28 12:15] #77 closed

[2018-06-28 12:28] fcolas commented on #61
@0xd1ma No news?

[2018-07-16 07:59] #32 closed

[2018-07-16 08:01] fcolas commented on #75
@koko19 Did you find a way to achieve what you wanted?

[2018-07-16 08:03] fcolas commented on #73
@nflsalex Did you succeed?

[2018-07-16 09:43] fcolas commented on #42
@tbarchyn I've added the `initial_wait` parameter as suggested.
@srirambadri Can you check that it solves your issue?

[2018-07-16 09:45] fcolas commented on #72
@shahvi I've implemented an `initial_wait` in #79 so as to help for #42. Could you check whether it is enough for your issue too?

[2018-07-17 02:14] shahvi commented on #72
This is great, will try it out in the next few days.

[2018-07-17 22:23] shahvi opened #80 "Issue in --deprecated-skip-factor"
It seems that the minimum freq these IMUs can deliver is 100Hz.  For many applications this unnecessarily overloads the system.  In our case we are using a 32 bit processor and the 100Hz IMU message calculation, publishing and rosbagging consumes over 90% of a core.
It would be a nice feature if the node would allow specifying a frequency (say 20 Hz) or a filtering factor (say every 5th message) a

[2018-07-18 15:51] fcolas commented on #80
Well, I don't believe it fits in the driver.
First, you should be able to configure your device to output way lower rates than 100Hz. Did you try to do it (see the documentation of your IMU and/or of `mtdevice.py`)?
Second, there is already a generic ROS tool for throttling messages [1].
And third, the ROS (and UNIX) philosophy is more to have simpler nodes that perform a service well rather than

[2018-07-18 20:50] shahvi commented on #80
@fcolas thanks for the info.  Looks like I missed the skip-factor setting for the IMU.  We have an old MTi with limited documentation.  I think I have a couple ideas to try now.
Cheers.

[2018-07-20 00:14] chutsu opened #81 "Synchronization setting allows for negative numbers but driver code does not?"
The Xsens IMU allows one to offset the synchronization setting with a negative offset (doc [here](https://github.com/ethz-asl/ethzasl_xsens_driver/blob/master/nodes/mtdevice.py#L1279)):

[code]

The `struct.pack()` format code in `data = b''.join(struct.pack('!BBBBHHHH', *sync_setting)` of:
[code]
in [Line 342 of `mtdevice.py`](https://github.com/ethz-asl/ethzasl_xsens_driver/blob/master/nodes/mtd

[2018-07-20 08:04] fcolas commented on #81
Ah, good catch.
Actually it's more subtle than that as it depends whether it's a Delay, Clock period, or Offset value. All three can go at that eighth spot (and I realize that the command line documentation is not clear on that) but they behave differently:
- Delay is unsigned in 100us units between 0 and 60000,
- Clock period is in 1ms units (probably signed but it's not specified),
- Offset is s

[2018-07-23 15:10] shahvi commented on #80
@fcolas a quick question.  I am trying to change our IMU frequency using the skip-factor option, but am not able to do it.  The command I am using is:`rosrun xsens_driver mtdevice.py -d /dev/ttyCTI1 -l --output-settings=tqMAG --output-mode=tcos --deprecated-skip-factor=4`
However, this changing the frequency.  Could you possibly point me in the right direction.

Doing a -i on our device shows
[cod

[2018-07-26 16:56] ghost opened #82 "Clarification for the ENU frame"
Hi, I understand that this driver uses the East-North-Up definition as per [REP-103](http://www.ros.org/reps/rep-0103.html).  I wanted to be sure I understand what this means.  See below for a simple URDF I had created which shows the imu_base_link in the standard forward-left-up frame & the imu link which is in the East-North-Up frame.
Am I interpreting this correctly?

![xsens_mti_enu_frame_labe

[2018-07-30 14:41] salahkhan94 opened #83 "Unable to change sampling frequency using MTdevice.py"
I have a MTi-3-8A7G6 IMU, since the launch file throws  "could not find proper MT device" , typically I manually first rosrun mtdevice.py and then mtnode.py using the following bash scripts which just keep running commands every 1 sec until it succeds

[code]
[code]

This works perfectly in publishing data except, I am unable to change the frequency /imu/data which is being published at 100 hz , M

[2018-07-30 22:54] aarontan94 opened #84 "support for mti-7?"
Hello, does this package work for [mti-7](https://shop.xsens.com/shop/offer/mti-7-development-kit-offer?utm_source=emark&utm_medium=email&utm_campaign=campaign-ism-q2-2-2018-newsletter)?

Thanks,
Aaron

[2018-07-31 04:52] nflsalex commented on #84
same question here

[2018-07-31 04:52] nflsalex commented on #73
yes thanks!

[2018-07-31 04:52] #73 closed

[2018-08-01 16:08] fcolas commented on #80
Well, the command line seems correct.
Could you try it again with the verbose `-v` flag and paste the full output here?

[2018-08-01 16:10] fcolas commented on #83
What is the command line you tried to change the output? Did you get an error?

[2018-08-01 16:16] fcolas commented on #84
Well, I have no first-hand experience but, according to the documentation is still supports the same communication protocol (XBus) that the node is relying on.
They seem to support another protocol (MTSSP) on some interfaces. This one is not implemented by this package.

So I would advise you check in more details how you want to connect and use your MTi-7.

If you get to try one, I'd be happy to

[2018-08-01 16:16] #84 closed

[2018-08-01 16:24] shahvi commented on #80
@fcolas I don't have the sensor with me, so won't be able to do that.  However I was able to fix the issue by using the -f option instead.  So the full command was `rosrun xsens_driver mtdevice.py -d /dev/ttyCTI1 -l --output-settings=tqMAG --output-mode=tcos -f 4`

[2018-08-01 16:31] fcolas commented on #82
You might want to check again section 5.2 of the user manual (MT0605P).
ENU is used in the local earth-fixed reference frame typically for the orientation and velocity messages.

[2018-08-01 16:37] fcolas commented on #80
Oops, it's a stupid command-line parsing bug. Many thanks for the catch!

[2018-08-01 17:04] shahvi commented on #82
Would you be interested in a simple URDF to include with the driver?  I have created one for the MTi which could be modified for other models.

[2018-08-02 02:12] salahkhan94 commented on #83
I actually don't run the command line directly , I've put it inside a bash script and run that instead. Check the first bash script I wrote above.

Any who this is the command : rosrun xsens_driver mtdevice.py -i --configure="oq200,aa200,wr200" -b 921600"

[2018-08-02 07:50] fcolas commented on #83
Ok, there are several things about this first script.
First, it's advised not to write too often the onboard flash memory to reduce wear (see discussion in #70).
Second, you might want to check your quotes in that second line: I'd expect it tries to set the configuration empty.

[2018-08-02 08:41] fcolas commented on #82
Why not, as in #50 I'd be happy to accept a pull request.
However, please make sure that the dimensions and the IMU origin are as accurate as possible. And the same if you include (which is a good idea) the cable sockets.
Thanks.

[2018-08-02 08:57] fcolas commented on #80
Solved in b26e785

[2018-08-02 08:57] #80 closed

[2018-08-02 09:45] fcolas commented on #82
Actually I realized that I was doing too many frame changes. I fixed that in the code.

[2018-08-02 14:11] salahkhan94 commented on #83
Thanks, I guess I'll just run the mtdevice command separately and onl

[2018-08-02 14:40] shahvi opened #85 "Suggest handling exceptions when killing node"
Currently when we kill this node, we see
[code]
It would be nice to handle these exceptions so that the code exits more gracefully.

[2018-08-02 15:05] fcolas commented on #83
Well, the command from your comment above should do the trick. Does it?
(Note that I'm not a support hotline; please read the documentation and try to solve your issue by yourself. I'm providing a node, I'm willing to improve it and to help using it but if you don't try and just ask me what you should do, I'll just close this thread as it doesn't seem to be an issue with this code.)

[2018-08-02 15:25] fcolas commented on #85
You're right. At some point `serial` changed its exception and I didn't update.
Fixed in 6f770b3

[2018-08-02 15:25] #85 closed

[2018-08-02 15:39] salahkhan94 commented on #83
It doesn't do the trick , I get 100hz rate on imu/data . After I run the command I get "Changing output configuration  Ok" the baud rate sets at 921600 but frequency doesn't change to 200hz. I'll post here if I figure something out.

Apologies for the troubles. I'll close this.

[2018-08-03 01:28] shahvi commented on #82
@fcolas check out the request.  see if this is the way you want to handle this.

Cheers,
Vik

[2018-08-13 09:58] nflsalex commented on #84
I tried the package for the latest MTI-7-DK. It turns out I can only get the IMU data but not the GPS signal

[2018-08-29 14:59] amastrobera opened #88 "ResetOrientation(0x0001) -> Error 0x21 "An invalid parameter is supplied""
I try to use the API to reset the heading, just like in the [GUI](https://base.xsens.com/hc/en-us/articles/360003435693-MT-Manager-Orientation-Reset-Options). I saw in the user manual that the request to launch should be done in either config or measurement mode, with `code = 0x0001`, and your API does this.
[code]

If I am not mistaken, there could be a problem with `packet += struct.pack('!B', 0

[2018-08-29 16:53] amastrobera commented on #88
FYI @bdholt1 @LukePhairatt

[2018-09-12 14:07] amastrobera commented on #88
@fcolas has anyone looked at this ?

[2018-09-12 16:42] fcolas commented on #88
@amastrobera I have good confidence that the checksum code is correct here (because that's a direct transliteration of the manual and because otherwise there would have been issues since a while.
And in your particular examples, it happens that ascii for 'Z' is 5A thus both strings are identical.

For your actual issue, is it working with the GUI? Are you sure it's actually sending the request and

[2018-09-12 16:55] fcolas commented on #84
@nflsalex I'm glad to hear it partly works.
Do you have an idea why you don't get GPS? Did you configure the device properly?
If you think it is a bug in the driver, please open a new issue specifically on this so we can investigate.

[2018-09-19 10:41] Adixy commented on #61
I edited mtdevice.py script and just put "pass" instead the "raise Exception(" couldn't parse MTData2 message.") thing.

It reads all the sensor data correctly in real time. Probably some typo in the script somewhere that triggers try/except

[2018-10-09 07:12] maxvalor opened #90 "Does this driver support PPS for Mti-300?"
Does this driver support PPS for Mti-300?

[2018-10-16 01:18] Scottapotamas opened #91 "How to resolve incomplete /imu/data fields"
I've not seen much regarding the 'expected' output on /imu/data from the xsens_driver, I've got issues with the inbound messages containing any combination of orientation, vel and acc, with the values going to { 0 } often.

Do I need to modify the default sampling rates/try and sync them?

A plot shows the effect quite well:

![image](https://user-images.githubusercontent.com/460325/46986639-03631

[2018-10-25 15:10] peci1 opened #93 "Frame orientations got wrong in 2.2.1"
Hi @fcolas , nice to meet you again at least virtually =) @kubelvla might also want to cheer in :)

What's the rationale of [commit 651ee](https://github.com/ethz-asl/ethzasl_xsens_driver/commit/651eea3a7a7b8d20347c31719ace34fec4a6f5ff) in version 2.2.1?

It broke our poor old Nifti robot, who now thinks that pitch is roll and vice versa... Should we change some configuration? I tried all values o

[2018-10-26 08:30] fcolas commented on #90
@maxvalor What is PPS? A quick glance through the documentation raised only synchronization through GNSS (MTi-7 or MTi-G-710).

[2018-10-26 08:52] fcolas commented on #91
When xsens updated their communication protocol in their 4th generation, they added the capabilities to send various information channels at different frequencies and in different messages, rather than all at the same time in a single message.
Often, when you ask various info at the same frequency, they will be grouped in the same message, but there is no guarantee.
What the node is doing is simpl

[2018-10-26 08:54] #91 closed

[2018-10-26 09:08] fcolas commented on #93
Hi @peci1 @kubelvla, according to the documentation (and it makes sense) the coordinate system specification (ENU, NED, or NWU) only applies to orientation and linear velocity messages (position messages are in ECEF coordinate frame).
I realized that, when introducing support for this local frame, we've been overzealous and converted coordinates of messages that were, and should stay, in the frame

[2018-10-26 09:32] fcolas commented on #61
@Adixy Interesting.
As you can see from the contents of the last message that the driver cannot parse, there is a GPS_SOL message of length 52 (0x34), a SampleTimeFine of length 4, and a PacketCounter of length 2. The latter two are obviously ok but, according to the documentation, the GPS_SOL message should have a length of 49.
Note that this message type got deprecated in favour of Position or G

[2018-10-26 13:45] fcolas commented on #61
@Adixy Can you please test the [gps_sol_workaround](https://github.com/ethz-asl/ethzasl_xsens_driver/tree/gps_sol_workaround) branch?

[2018-10-26 15:21] peci1 commented on #93
Thanks for the explanation, Francis. I see that you wanted to correct the behavior of the driver according to the specs, but can't there be much more people affected? I assume everybody needed to compensate for the previous "wrong" behavior, and now that it is corrected, all the compensations will give wrong results. Or am I missing a point? What about providing a parameter that would switch betwe

[2018-10-26 15:49] fcolas commented on #93
Well, the thing is that the default leads to no compensation and I expect that most people didn't bother with this parameter.
In any case, it's meant for the mapping between the x, y, and z axes into North, South, East, West, Up and Down. For ground robots, the default is often fine but in aeronautics they might use NED instead of ENU, as far as I understand.

For you problem, the /tf states that

[2018-10-29 01:02] Scottapotamas commented on #91
Thanks a lot, didn't know about the -1 covariance value.

[2018-10-29 12:58] peci1 commented on #93
Ok, we checked the real axes on robot by tilting it and corrected our compensation code for the new axes.

However, we do not fully understand the rationale of publishing data in two different frames. Then you get into trouble like the messages on topic `velocity` to be in frame `~frame_id` for the angular part, and `~frame_local` for the linear part, but the frame in the header is set to `~frame_

[2018-11-02 07:56] aaravrav142 opened #94 "No linear velocity and angular data on the MTi device"
Hi,
I am using the newest version of MTi 30 AHRS bought just a few weeks ago.

I can see the position data (x,y and z) but the node does not publish the velocity data (linear and angular).

Below is the device information:
[code]
and
[code]
Data from the rostopic echo /imu/data

[code]

How do I solve this? Thanks

[2018-11-09 10:33] romainreignier commented on #77
@sumitspattan Did you managed to implement this driver in C++? If so, do you have plans to open-source it?

[2019-01-12 06:12] snakehaihai commented on #94
go to windows. Download xsense MT suit.
$ At sensor config tab increase baudrate to 921600.
$ At output config tab. enable delta t and delta v acceration.

REMEMBER to APPLY and SAVE to MT before close

[2019-01-12 06:30] snakehaihai commented on #90
isn't the pps should be from external device connection? like   Arduino connect to both IMU and LIDAR by PPS.

For Mti-300 it should be SyncIn Pin 7 Blue  +GND Pin 2 Yellow-green
For Ouster 64. its the 6pin connector thing in the box.  one at the bottom left and one at middle left.
Connect both to Arduino pin 13 and GND.
Dada, hello there,  there you have it

[2019-01-12 15:32] snakehaihai commented on #42
I also had this long line of bullshit error earlier today.

Then I read  some post in xsense says that might be compass fucked up ask me to recalibrate.

What I do is I go to windows and download xsense suit.

There I change the sensor config to allow 921600 output rate.
Output config unchecks most of the stuff(specially for compass)   only left orientation delta q  delta t acceleration stuff.  An

[2019-01-12 15:46] snakehaihai commented on #88
@amastrobera  Go windows download xsense suit. Open MT manager.  Increase baud rate to 921600. At output config, change to some default setting in the drop list. see if it works.  After that, select only the parameters you needed.

[2019-01-15 04:42] aaravrav142 commented on #94
I do not have access to the sensor right now. I will report back soon. Thanks for the info.

[2019-01-15 04:49] snakehaihai commented on #94
OK do remember to uncheck other output such as 2000hz raw output and compass.    only check orientation, delta q and acceleration which the one you needed at 400hz

[2019-01-21 13:45] gustavorv opened #95 "Error message 0x04: The message is invalid or not implemented"
Hi! I've been trying to change the configurations of my MTi-G for a while by using the following command `./mtdevice.py --configure="pp"` so that I can get the ECEF coordinates but i always get the same error message. I tried to include some others( like 'ad' and 'wd' for example ) as it's described on the driver but I still get the same message. On the other hand when I change the legacy configur

[2019-01-23 09:29] guan4286 opened #96 "Fatal: could not find proper MT device"
g@g:~/tutorial_ws$ lsusb
Bus 004 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 003 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub
Bus 002 Device 002: ID 0424:5744 Standard Microsystems Corp.
Bus 002 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 001 Device 008: ID 17ef:6019 Lenovo
Bus 001 Device 007: ID 2639:0003 Xsens MTi-30 AHRS
Bus 001 Device 002: ID 04d9:1836 H

[2019-02-06 19:23] skohlbr commented on #52
Here's the jitter I'm getting with a MTi-30 set to 50 Hz. The plot shows the difference between header timestamps on the IMU messages published. Ideally, this should be a line parallel to the x axis at y = 0.02.

![mti_30_plot](https://user-images.githubusercontent.com/205963/52367617-c86d5400-2a4c-11e9-9933-6728f9fda9f2.png)

[2019-02-23 15:29] kubelvla opened #97 "Is the string output the only way to get the delta v,q when the acc. and the ang. rate enabled?"
Hi @fcolas and others contributing to this driver,

Sorry if I missed this in the documentation but I've observed that if you set the MTi unit to output only **delta v** and **q**, they are published inside the _/imu/data_ message. However, if you also want the linear acceleration and the angular rate values, the delta values are not published anymore except for the parsed string output. Do I unde

[2019-03-03 21:43] skohlbr commented on #52
So the new 2019 SDK by Xsens has a ROS cpp driver implementation. It has a few pecularities (such as looking up ROS params on the parameter server in sensor data callbacks leading to huge CPU consumpion of the ROS master). After fixing those, I integrated https://github.com/ethz-asl/cuckoo_time_translator as suggested by @HannesSommer. It seems to work very well, time stamp jitter gets eliminated

[2019-03-16 01:06] willdzeng opened #98 "Populate position accuracy and horizontal accuracy as covariance"
Hi,
Note that right now the driver publishes NavSatFix message but the position covariance are zeors.
I wonder if we can populate the position accuracy and horizontal accuracy as covariance?
I am happy to do some but can you provide some info on how would I do that?
Thanks.

[code]

[2019-04-03 04:21] pedrobagatin commented on #96
Did you fix? Got same problem...

[2019-04-03 08:05] guan4286 commented on #96
yes i already fix it

At 2019-04-03 12:21:34, "Pedro Bagatin" <notifications@github.com> wrote:

how to solve it?

Did you fix? Got same problem...

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-04-03 08:07] guan4286 commented on #96
sudo chmod 777 /dev/bus/usb/00

[2019-04-04 04:38] mlauret commented on #96
Hello,

I think you should add a udev rules to be less error prone when managing multiple USB on your PC.
Here is a document to do it : https://doc.ubuntu-fr.org/udev

The udev rules consist of a  file in /etc/udev/rules.d (in ubuntu) that manage plugged devices (USB/Serial/SD/etc.) when loading a driver.

In the case of the Xsens, the rules.d should look like this :

`BUS=="usb", ATTRS{idVendor}=

[2019-04-23 07:50] pedrobagatin commented on #42
So anybody solved it? Having the same problem. Thanks

[2019-04-23 08:11] pedrobagatin commented on #42
So anybody solved it? Having the same problem. Thanks

Fixed by going to MT Manager in Windows, setting its baud rate to 230400.
Then on Linux edited mtdevice.py changing baudrate value from 115200 to 230400.
Finally ran `python2 mtdevice.py` to run it without problems.

[2019-05-17 14:50] moooeeeep opened #99 "Separate frame_id for GPS and IMU messages"
Our GPS receiver and the IMU device are usually not mounted directly next to each other.

Therefore it might make sense to allow setting a different frame_id for the GPS NavSatFix messages.

[2019-05-28 13:38] moooeeeep commented on #98
I've stumbled accross an approach to this here: https://github.com/westpoint-robotics/usma_xsens/blob/master/nodes/mtnode_new.py#L474

Besides that, it seems, you can set the other covariances via rosparam: https://github.com/ethz-asl/ethzasl_xsens_driver/blob/master/nodes/mtnode.py#L96

For a start, I'd suggest to add a parameter to specify the position covariance in the same way as the others.

[2019-05-29 08:17] zhouzhiqian opened #100 "Driver Node publish topics at different Interval"
When I use MTI300 on Ubunty 16.04 + ROS kinetic， the intervals between every two topics don't keep 5ms (its frequency is 200 Hz).
Just like this figure:
![16 04](https://user-images.githubusercontent.com/29911737/58540861-cd892580-822c-11e9-82c6-42d43f2590bc.png)

But when I use it on Ubunty 14.04 + ROS indigo, it shows a totally different result.
![mti300](https://user-images.githubusercontent.co

[2019-07-15 07:50] G-KUMAR commented on #96
Is there some permanent solution to this problem??
Getting the error:
`Fatal: could not find proper MT device.` with MTi-30 on `roslaunch xsens_driver xsens_driver.launch`
Device is showing on running `lsusb`.  Tried `sudo chmod 777 /dev/bus/usb/00` but the error still persists.
Changing the USB port on the computer works sometimes but its random every time I restart the system.  Sometimes it does

[2019-07-24 17:36] aishanou opened #101 "Math for angular velocity"
Is there any documentation/paper to support the calculations going from dq to angular velocities in euler angles?

[2019-07-26 02:16] qingwenZhang commented on #55
You are right! Just increase 'timeout' in xsens_driver.launch!

[2019-07-30 23:24] nickxydes opened #102 "Ack (0x31) expected, MID 0x36 received instead (after 500 retries)."
I'm currently having an issue that crops up on my xsens Mti-30's.

About 20% of the time that I boot my system up, the xsens will be stuck in a state that impedes it from launching. This is what I've observed:

My setup: Ubuntu 16.04, ros kinetic.

Product code: MTi-30-2A8G4
MT Settings Revision: 5.1
Firmware Revision: 1.10.0
Hardware Revision: 3.0

Parameters:
baudrate: 115200
device: /dev/ttyUSB

[2019-08-23 14:36] moooeeeep opened #103 "XSensDriver.spin_once() redefines all the functions required for populating the output messages at every loop iteration"
I just noticed that the function [`XSensDriver.spin_once`](https://github.com/ethz-asl/ethzasl_xsens_driver/blob/master/nodes/mtnode.py#L175), that does the parsing, populating and publishing at a potentially high frequency, redefines all the required helper functions locally at every loop iteration.

I would expect to receive a (significant?) speed-up, if these functions were converted to ordinar

[2019-08-25 14:32] fcolas commented on #103
You're right. I'm not sure how large the speedup can be but it is inefficient.
I would appreciate a PR when you have the time.

[2019-08-25 14:52] fcolas commented on #102
I just pushed a `fix_gotoconfig` branch. Could you try it out and tell me if it solves the issue?

[2019-08-25 14:59] fcolas commented on #101
Well, dq is just the quaternion of the orientation difference between the two time steps.
You can therefore convert to axis, angle representation and divide by the time interval.

Do you suspect there is an issue there?

[2019-08-25 15:04] fcolas commented on #100
That's a new issue for me.
Does it happen consistently or just sometimes (and if so, in which condition)?
I assume you checked it was not a CPU performance issue and only run the mtnode to reduce outside influences.
Is it the same system with two different installs or are there differences in the CPU/USB bus?

[2019-08-25 15:06] fcolas commented on #99
Yes, you're right. PR welcome.

[2019-08-25 15:08] fcolas commented on #98
I don't have time nor a device with a GPS to test, thus a PR is welcome (with either solution as long as it makes sense).

[2019-08-25 15:13] fcolas commented on #97
Dear @kubelvla, you are right: when both delta v and linear acceleration are requested only one is published in /imu/data (the last one, I think, not necessarily the linear acceleration).

I'd welcome a PR to improve this.

[2019-08-25 15:19] fcolas commented on #96
@G-KUMAR It is an issue with your configuration. See the comment from @mlauret above.

[2019-08-25 15:19] #96 closed

[2019-08-25 15:22] fcolas commented on #95
The MTi-G is indeed a “legacy” product and you have to stick to the mark iii protocol.

[2019-08-25 15:22] #95 closed

[2019-08-25 15:24] fcolas commented on #94
Note that you don't have to got to Windows and use the XSens configuration suite since you can use `mtdevice.py` to configure your IMU from the command line.

[2019-08-25 15:24] #94 closed

[2019-08-25 15:31] fcolas commented on #90
Doesn't seem to be related to the node. Closing.

[2019-08-25 15:31] #90 closed

[2019-08-25 15:42] #72 closed

[2019-08-25 15:43] fcolas commented on #63
@matteopantano Ping?

[2019-08-25 15:43] fcolas commented on #61
@Adixy Ping?

[2019-08-25 15:48] fcolas commented on #42
Ok so this can be solved by changing the baud rate.
Closing.

[2019-08-25 15:48] #42 closed

[2019-08-27 07:46] fcolas commented on #102
Thanks, I've settled to 30*25.

[2019-08-27 07:51] fcolas commented on #102
Should be fixed with #104.

[2019-08-27 07:51] #102 closed

[2019-09-06 13:35] fcolas commented on #63
I've merged the branch.

[2019-09-06 13:35] #63 closed

[2019-09-16 08:40] moooeeeep commented on #103
As stated in the comments in the [PR](https://github.com/ethz-asl/ethzasl_xsens_driver/pull/105) the inefficiency actually is insignificant compared to other factors. Therefore I'll close this issue.

[2019-09-16 08:40] #103 closed

[2019-09-16 08:51] moooeeeep opened #107 "Difference to or benefits of this project vs. official XSens MTi ROS driver?"
I noticed, that XSens has released and does maintain an official ROS driver, downloadable as part of their SDK: http://wiki.ros.org/xsens_mti_driver

Did you already review the functionality of the official driver? Does it lack or differ in scope or features? Would you recommend to switch?

[2019-09-16 12:18] fcolas commented on #107
It's not a bad question and the short answer is that my package predates the official one (by many years).

I started this node because there was no official ROS (or even unix) driver and the third party driver was limited in functionalities (single configuration supported). Later XSens published a half-maintained ROS driver based on mine but they didn't commit to it. Hopefully they will do better

[2019-09-17 06:28] MichalNowicki commented on #100
I experienced this issue on a similar configuration and in our case, it was caused by the latency settings of the Ubuntu driver for FTDI. The solution was to set the low_latency mode of the driver and thus prevent it from accumulating multiple measurements.

The command to execute after the device was plugged in:
``setserial /dev/<tty_name> low_latency``

The setting resets once the device is disc

[2019-09-17 06:32] zhouzhiqian commented on #100
@MichalNowicki  Thank you very much. I will try your solution quickly.

[2019-09-18 19:05] samxchandlerpi opened #108 "Unable to open /dev/*"
I'm trying to get this driver working on a Jetson Nano (does this driver work on ARM architectures?) with ROS melodic, but I can't seem to open the device. I've tried to play with the permissions and udev rules, but nothing seems to work.

**Error:**

**Permissions:**

**udev rules:**

[2019-09-19 07:55] fcolas commented on #108
The `serial` module cannot seem to be able to open your device.
You can try to set the `baudrate` to the value of your device and see if you have a different message. Or you can directly print the `serial.SerialException` to see what happens.

[2019-09-19 11:34] samxchandlerpi commented on #108
I printed the serial.Serial Exception and received the following:

I did a little more digging by testing the output of dmesg for the computer I have the xsens device working on and this new computer that's returning the serial error

Here's the output of dmesg for the Jetson Nano which is **not** working:

Here's the output of dmesg for the computer that **is** working:

So it seems that the Jets

[2019-09-20 16:24] samxchandlerpi commented on #108
Okay, I finally got this working. I wasn't installing  https://github.com/xsens/xsens_mt drivers correctly.

Here's what I did:

1. Cloned https://github.com/xsens/xsens_mt into /lib/modules/kernel*/source/drivers/usb
2. cd xsens_mt
3. sudo make
4. modified first line of xsens_mt/modules.order to kernel/kernel*/drivers/usb/xsens_mt/xsens_mt.ko
5. cd /lib/modules/kernel*/kernel/drivers/usb
6. sudo

[2019-09-20 16:24] #108 closed

[2019-09-20 19:49] fcolas commented on #108
You're welcome, thanks for sharing your solution.

[2019-10-08 03:47] artemiialessandrini commented on #100
Hi, I am having the same issue of publisjing with different interval partially:

[image](https://yadi.sk/i/3K-aLn2AYzHXow)

While trying to  `setserial /dev/ttyUSB0 low_latency`, I get:
`Cannot get serial info: Inappropriate ioctl for device`

[2019-10-08 03:48] artemiialessandrini commented on #100
@zhouzhiqian was it a solution for you?

[2019-10-08 06:36] artemiialessandrini commented on #100
Apparently, rosbag_validate displays the same ERROR:
` E1008 14:32:31.060365 31665 rosbag_validate_main.cc:389] IMU data (frame_id: "imu_link") has a large gap, largest is 0.660078 s, recommended is [0.0005, 0.005] s with no jitter.`

[2019-10-24 11:44] mbudris opened #109 "typical CPU usage"
Is it common for the driver to use ~10% of an i3-8100T CPU @ 3.10GHz?
From what I understand it is quite high for such a task.

[2020-02-10 08:39] anthogd opened #110 "cannot launch node of type [xsens_driver/mtnode.py]"
Dear All,

I am using an xsens MTi10 and I want to log data on ROS.
I am using ros melodic and ubuntu 18.

Here is my problem:
I use roscore and open another terminal to clone this driver and then I roslaunch the x_sens_driver.launch in order to get the nodes to publish the different topics. However, when I do that, I get the following error
`
ERROR: cannot launch node of type [xsens_driver/mtnode

[2020-02-10 10:09] #110 closed

[2020-06-18 23:10] sankhakarfa commented on #109
Hi, facing a similar issue. Any solution for this?

[2020-11-18 06:03] Balakrishnan-Ayyanar opened #111 "Is it possible to get fused output of IMU/GPU?"
In sensor(Xsens MTi) they seems to have the internal KF. do we get the fused output of IMU and GPS. Eg: Fused position and orientation at 100hz (at frequency of IMU)

[2020-11-24 19:34] ozgunkaratas opened #112 "Legacy Mti-G does not publish UTC Time"
Hello,
i am using a Legacy Mti-G device on Ubuntu 18.04 with Melodic and i was able to use the legacy configurations to get the information but when i include the UTC Time within the output settings i get a parsing error. The console output is as follows:

ozgunkaratas@ozgunkaratas-1804:~$ roslaunch xsens_driver xsens_driver.launch
... logging to /home/ozgunkaratas/.ros/log/d2f883be-2e81-11eb-921e

[2020-12-08 02:18] ruoshiwen commented on #107
I tried official package on ubuntu 16.04, but I could not run mtmanager. The error is libicui18n.so.60 cannot open shared object file, I spent quite some time searching the answer and still failed.
Fortunately, your package works fine for me. Except that I had to modify the package.xml file, add <package format="2"> and changing <run_depend> to <exec_depend>, otherwise ros does not recognise the p

[2020-12-08 09:21] ozgunkaratas commented on #112
Hey everybody, i want to close this issue since i found the solution, it lies on line 1150 of the script mtdevice.py where one 'b' is missing which should correspond to the number of values that the struct requires.

[2020-12-08 09:21] #112 closed

[2021-01-19 15:18] Wing-ka-king opened #115 "Install the driver for ros noetic"
Need  help to install the driver for ros noetic. Using Ubuntu 20.04

[2021-03-29 03:55] guo-zixuan opened #116 "MTI-630 output timestamp interval trouble"
Hello guys!
My team focus on multi-sensor fusion slam.We found a confusing  phenomenon that the output of xsense driver is not evenly distributed in a time duration.For example,velodyne data is 10hz,xsense data is 100hz but xsense data get together in a time duration.
So, can I do some change in .launch file to let it evenly distribute in a time duration?
![2021-03-29 11-37-32 的屏幕截图](https://user-

[2021-06-01 12:38] lipascal123 commented on #116
Hi there,

I have the exact same issue. Did you find any solution?
I'm also using it for multi-sensor fusion.

[2021-07-09 14:23] #81 closed

[2021-12-09 02:48] Cracks-ll commented on #116
@guo-zixuan 老哥你解决这个问题了吗？我用的是官方驱动，但是感觉官方驱动是错的

[2021-12-20 09:34] huangjiancong1 opened #117 "Can I use a wearable xsens product with ROS to positioning?"
I am seeking some products that can be used to positioning between human and mobile robot in wild. Do you have any solution?

[2022-01-05 13:31] MGforest commented on #115
Hello Wing-ka-king, what is your question?

[2022-01-05 14:01] #115 closed

[2022-03-18 06:11] jiminghe commented on #107
Hi Everyone,

Xsens now publishes the latest version of Xsens ROS MTi Driver inside the MT Software Suite, please make sure that you download the latest MT Software Suite at: https://content.xsens.com/mt-software-suite-download

[2022-03-25 16:52] Rezenders opened #118 "mtdef.MTException: unknown packet: 0xE09C."
Hello,

I am trying to run xsenx_driver in a raspberrypi3 but I get this type of error after a while.
The error msg is always changing but it is always a unknow packet. Any ideas what might be the problem?

[code]

[2022-07-06 23:05] patlican23 commented on #110
Hi, did you solve this issue?

[2022-08-30 07:21] bigbigpark opened #120 "It doesn't work on Ubuntu 16.04"
I'm using `Xsens MTi-30 AHRS`. <br/>
I downloaded xsens driver from [ethzasl_xsens_driverhttps://github.com/ethz-asl/ethzasl_xsens_driver) <br/>
when I type the command,
[code]
An error occured, the log messages are below:
[code]
What should I do? <br/>

Best regards.

[2022-11-25 14:09] tmmnk opened #123 "Version not working on ROS noetic UBUNTU 20.04"
Hello, i've tried to convert the driver to work on ROS noetic, sadly iǘe come to a point where i dont know how to continue as im getiing error after error and my understanding of the python code is not nearly as good enough to solve it myself.

Is there a way to get the driver to run under noetic (which is using python3 ) other than rewriting the now in python2 scripts mtdevice.py mtnode.py and mt